$color: (
  black       : #000, //black icon
  white       : #fff, // white icon
  dark        : #ffc74a, // dark icon
  light       : #000,    // light icon
);
/* @font-face {
  font-family: 'fontIcon';
  src:url(../fonts/Enhancesys-Icons.ttf);
} */
@font-face {
font-family: 'fontIcon';
    src: url('../fonts/icon/enhancesys-icons-webfont.eot') format('embedded-opentype'); /* IE9 + later */
    src: url('../fonts/icon/enhancesys-icons-webfont.woff2') format('woff2'),
         url('../fonts/icon/enhancesys-icons-webfont.woff') format('woff'),  /* Newer browsers */
         url('../fonts/icon/enhancesys-icons-webfont.ttf') format('truetype'), /* Safari og iOS, Chrome, Android, Firefox and Opera except Opera Mini  */
         url('../fonts/icon/enhancesys-icons-webfont.svg') format('svg');
}
i.icon{
  font-family: 'fontIcon';
  font-style: normal;
  font-size: 25px;
  font-weight: 300;
  background-image: none;
  text-transform: none !important;
  &.back{
    &:before{
      content: 'D';
    }
  }
  &.menu{
    &:before{
      content: 'B';
    }
  }
  &.lock{
    &:before{
      content: 'v';
    }
  }
  &.survey{
    &:before{
      content: 'b';
    }
  }
  &.notification{
    &:before{
      content: 'G';
    }
  }
  &.download{
    &:before{
      content: 'i';
    }
  }
  &.upload{
    &:before{
      content: 'h';
    }
  }
  &.add-contact{
    &:before{
      content: ':';
    }
  }
  &.sms{
    &:before{
      content: 'f';
    }
  }
  &.print{
    &:before{
      content: 'e';
    }
  }
  &.whatsapp{
    &:before{
      content: 'P';
    }
  }
  &.call{
    &:before{
      content: 'N';
    }
  }
  &.mail{
    &:before{
      content: 'd';
    }
  }
  &.location{
    &:before{
      content: 'O';
    }
  }
  &.camera{
    &:before{
      content: '~';
    }
  }
  &.tag{
    &:before{
      content: '{';
    }
  }
  &.cart{
    &:before{
      content: 'J';
    }
  }
  &.arrow{
    &:before{
      content: 'M';
    }
  }
  &.search{
    &:before{
      content: 'F';
    }
  }
  &.barcode{
    &:before{
      content: 'L';
    }
  }
  &.barcode-eye{
    &:before{
      content: '@';
    }
  }
  &.eye{
    &:before{
      content: '?';
    }
  }
  &.aim{
    &:before{
      content: '7';
    }
  }
  &.arrow-right{
    &:before{
      content: 'E';
    }
  }
  &.arrow-up{
    display: inline-block;
    transform: rotate(-90deg);
    &:before{
      content: 'E';
    }
  }
  &.arrow-down{
    display: inline-block;
    transform: rotate(90deg);
    &:before{
      content: 'E';
    }
  }
  &.up-arrow{
    display: inline-block;
    transform: rotate(-90deg);
    &:before{
      content: 'M';
    }
  }
  &.down-arrow{
    display: inline-block;
    transform: rotate(90deg);
    &:before{
      content: 'M';
    }
  }
  &.field-agent{
    &:before{
      content: ']';
    }
  }
  &.dealer{
    &:before{
      content: '^';
    }
  }
  &.distributor{
    &:before{
      content: '_';
    }
  }
  &.retailer{
    &:before{
      content: 'Z';
    }
  }
  &.quick{
    &:before{
      content: 'C';
    }
  }
  &.food{
    &:before{
      content: 'Q';
    }
  }
  &.mobile{
    &:before{
      content: 'S';
    }
  }
  &.laptop{
    &:before{
      content: 'T';
    }
  }
  &.toiletries{
    &:before{
      content: 'R';
    }
  }
  &.rupee{
    &:before{
      content: '/';
    }
  }
  &.flash-off{
    &:before{
      content: '=';
    }
  }
  &.flash-on{
    &:before{
      content: '>';
    }
  }
  &.focus{
    &:before{
      content: '<';
    }
  }
  &.sucess{
    &:before{
      content: 'n';
    }
  }
  &.reload{
    &:before{
      content: 'o';
    }
  }
  &.cross{
    &:before{
      content: 'A';
    }
  }
  &.discount{
    &:before{
      content: '|';
    }
  }
  &.audit{
    &:before{
      content: 'a';
    }
  }
  &.calc{
    &:before{
      content: '}';
    }
  }
  &.box{
    &:before{
      content: 'I';
    }
  }
  &.box-in{
    &:before{
      content: '1';
    }
  }
  &.box-out{
    &:before{
      content: '2';
    }
  }
  &.edit{
    &:before{
      content: '-';
    }
  }
  &.plus{
    &:before{
      content: '5';
    }
  }
  &.minus{
    &:before{
      content: '6';
    }
  }
  &.setting{
    &:before{
      content: 'y';
    }
  }
  &.task{
    &:before{
      content: 'r';
    }
  }
  &.error{
    &:before{
      content: 'l';
    }
  }
  &.threeg{
    &:before{
      content: 'k';
    }
  }
  &.twog{
    &:before{
      content: 'j';
    }
  }
  &.date{
    &:before{
      content: 't';
    }
  }
  &.category{
    &:before{
      content: 's';
    }
  }
  &.status{
    &:before{
      content: ',';
    }
  }
  &.redu{
    &:before{
      content: 'Y';
    }
  }
  &.warehouse{
    &:before{
      content: '+';
    }
  }
  &.house{
    &:before{
      content: 'z';
    }
  }
  &.recapture{
    &:before{
      content: '*';
    }
  }
  &.locatemap{
    &:before{
      content: ')';
    }
  }
  &.beat{
    &:before{
      content: 'x';
    }
  }
  &.wave{
    &:before{
      content: '(';
    }
  }
  &.audit-success{
    &:before{
      content: 'c';
    }
  }
  &.audit-error{
    &:before{
      content: '.';
    }
  }
  &.sm-box{
    &:before{
      content: 'K';
    }
  }
  &.sm-box-error{
    &:before{
      content: 'q';
    }
  }
  &.images{
    &:before{
      content: '0';
    }
  }
  &.rect{
    &:before{
      content: 'T';
    }
  }
  &.tick{
    &:before{
      content: 'H';
    }
  }
  // Info Icon Designed for being within circle
  &.info{
    &:before{
      content: '4';
      font-size: 26px;
      position: absolute;
      top: -9px;
      left: -4px;
    }
  }
}
.cross-icon {
  position: relative;
  background: #d8d8d7;
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 100%;
  i{
    color: #fff;
    font-size: 12px !important;
    position: absolute;
    top: 1.5px;
    right: 4px;
  }
}
.info-icon {
  display: inline-block;
  position: relative;
  border: solid 2px #ffb612;
  height: 23px;
  width: 23px;
  border-radius: 100%;
}
