/* @font-face {
  font-family: 'fontIcon';
  src:url(../fonts/Enhancesys-Icons.ttf);
} */
@font-face {
  font-family: 'fontIcon';
  src: url("../fonts/icon/enhancesys-icons-webfont.eot") format("embedded-opentype");
  /* IE9 + later */
  src: url("../fonts/icon/enhancesys-icons-webfont.woff2") format("woff2"), url("../fonts/icon/enhancesys-icons-webfont.woff") format("woff"), url("../fonts/icon/enhancesys-icons-webfont.ttf") format("truetype"), url("../fonts/icon/enhancesys-icons-webfont.svg") format("svg"); }
i.icon {
  font-family: 'fontIcon';
  font-style: normal;
  font-size: 25px;
  font-weight: 300;
  background-image: none;
  text-transform: none !important; }
  i.icon.back:before {
    content: 'D'; }
  i.icon.menu:before {
    content: 'B'; }
  i.icon.lock:before {
    content: 'v'; }
  i.icon.survey:before {
    content: 'b'; }
  i.icon.notification:before {
    content: 'G'; }
  i.icon.download:before {
    content: 'i'; }
  i.icon.upload:before {
    content: 'h'; }
  i.icon.add-contact:before {
    content: ':'; }
  i.icon.sms:before {
    content: 'f'; }
  i.icon.print:before {
    content: 'e'; }
  i.icon.whatsapp:before {
    content: 'P'; }
  i.icon.call:before {
    content: 'N'; }
  i.icon.mail:before {
    content: 'd'; }
  i.icon.location:before {
    content: 'O'; }
  i.icon.camera:before {
    content: '~'; }
  i.icon.tag:before {
    content: '{'; }
  i.icon.cart:before {
    content: 'J'; }
  i.icon.arrow:before {
    content: 'M'; }
  i.icon.search:before {
    content: 'F'; }
  i.icon.barcode:before {
    content: 'L'; }
  i.icon.barcode-eye:before {
    content: '@'; }
  i.icon.eye:before {
    content: '?'; }
  i.icon.aim:before {
    content: '7'; }
  i.icon.arrow-right:before {
    content: 'E'; }
  i.icon.arrow-up {
    display: inline-block;
    transform: rotate(-90deg); }
    i.icon.arrow-up:before {
      content: 'E'; }
  i.icon.arrow-down {
    display: inline-block;
    transform: rotate(90deg); }
    i.icon.arrow-down:before {
      content: 'E'; }
  i.icon.up-arrow {
    display: inline-block;
    transform: rotate(-90deg); }
    i.icon.up-arrow:before {
      content: 'M'; }
  i.icon.down-arrow {
    display: inline-block;
    transform: rotate(90deg); }
    i.icon.down-arrow:before {
      content: 'M'; }
  i.icon.field-agent:before {
    content: ']'; }
  i.icon.dealer:before {
    content: '^'; }
  i.icon.distributor:before {
    content: '_'; }
  i.icon.retailer:before {
    content: 'Z'; }
  i.icon.quick:before {
    content: 'C'; }
  i.icon.food:before {
    content: 'Q'; }
  i.icon.mobile:before {
    content: 'S'; }
  i.icon.laptop:before {
    content: 'T'; }
  i.icon.toiletries:before {
    content: 'R'; }
  i.icon.rupee:before {
    content: '/'; }
  i.icon.flash-off:before {
    content: '='; }
  i.icon.flash-on:before {
    content: '>'; }
  i.icon.focus:before {
    content: '<'; }
  i.icon.sucess:before {
    content: 'n'; }
  i.icon.reload:before {
    content: 'o'; }
  i.icon.cross:before {
    content: 'A'; }
  i.icon.discount:before {
    content: '|'; }
  i.icon.audit:before {
    content: 'a'; }
  i.icon.calc:before {
    content: '}'; }
  i.icon.box:before {
    content: 'I'; }
  i.icon.box-in:before {
    content: '1'; }
  i.icon.box-out:before {
    content: '2'; }
  i.icon.edit:before {
    content: '-'; }
  i.icon.plus:before {
    content: '5'; }
  i.icon.minus:before {
    content: '6'; }
  i.icon.setting:before {
    content: 'y'; }
  i.icon.task:before {
    content: 'r'; }
  i.icon.error:before {
    content: 'l'; }
  i.icon.threeg:before {
    content: 'k'; }
  i.icon.twog:before {
    content: 'j'; }
  i.icon.date:before {
    content: 't'; }
  i.icon.category:before {
    content: 's'; }
  i.icon.status:before {
    content: ','; }
  i.icon.redu:before {
    content: 'Y'; }
  i.icon.warehouse:before {
    content: '+'; }
  i.icon.house:before {
    content: 'z'; }
  i.icon.recapture:before {
    content: '*'; }
  i.icon.locatemap:before {
    content: ')'; }
  i.icon.beat:before {
    content: 'x'; }
  i.icon.wave:before {
    content: '('; }
  i.icon.audit-success:before {
    content: 'c'; }
  i.icon.audit-error:before {
    content: '.'; }
  i.icon.sm-box:before {
    content: 'K'; }
  i.icon.sm-box-error:before {
    content: 'q'; }
  i.icon.images:before {
    content: '0'; }
  i.icon.rect:before {
    content: 'T'; }
  i.icon.tick:before {
    content: 'H'; }
  i.icon.info:before {
    content: '4';
    font-size: 26px;
    position: absolute;
    top: -9px;
    left: -4px; }

.cross-icon {
  position: relative;
  background: #d8d8d7;
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 100%; }
  .cross-icon i {
    color: #fff;
    font-size: 12px !important;
    position: absolute;
    top: 1.5px;
    right: 4px; }

.info-icon {
  display: inline-block;
  position: relative;
  border: solid 2px #ffb612;
  height: 23px;
  width: 23px;
  border-radius: 100%; }

/*# sourceMappingURL=icons.css.map */
