@import "mixins.scss";
@import "icons.scss";
//colors variables
$colors: (
  body        : #d8d8d7, //main body background color
  brand       : #ffb612, // top navigation color (left)
  brand-light : #ffc74a, // top navigation color (right)
  text        : #323c3f
);
//global css
body {
  background-color : map-get($colors, body);
  font-family : "Lato", sans-serif;
}
.main-container {
  position: relative;
  min-height: calc(100vh - 50px);
  padding: 50px 0;
  overflow: auto;
  &.task{
    min-height: calc(100vh - 150px);
  }
}

input{
  border: none;
  box-shadow: none;
  outline: none;
  &:focus, &:active{
    box-shadow: none;
    outline: none;
  }
}
// common classes
.no-border{
  border: none !important;
}
.no-bg{
  background: none !important;
}
.no-padding{
  padding: 0 !important;
}
.no-margin{
  margin: 0 !important;
}
.mh60{
  min-height: 60px;
}
.top20{
  top: 20px !important;
}
.white-bg{
  background: #fff !important;
  border-radius: 3px;
}
.nowrap{
  white-space: nowrap;
}
.fixed{
  position: fixed !important;
}
.transparent{
  background: transparent !important;
}
.collapse-link, a {
  text-decoration: none;
  &:hover,&:focus,&:active{
    text-decoration: none;
  }
}
.p10 {
  padding: 10px 0;
}
.p15 {
  padding: 15px 0;
}
.pt7{
  padding-top: 7px !important;
}
.pb30{
  padding-bottom: 30px !important;
}
.pb0{
  padding-bottom: 0 !important;
}
.pt0{
  padding-top: 0 !important;
}
.mr15{
  margin-right: 15px !important;
}
.mt10{
  margin-top: 10px;
}
.fs18{
  font-size: 18px;
}
.tl0{
  top: 0 !important;
  left: 0 !important;
}
.rt10 {
  position: absolute;
  right: 10px;
  top: 10px;
}
.top10{
  position: relative;
  top: 10px;
}
// onclick ripple effect
.ink {
	display: block;
  position: absolute;
	background: #d3d3d3;
	border-radius: 100%;
	transform: scale(0);
}
/*animation effect*/
.ink.animate {
  animation: ripple 0.65s linear;
}
@keyframes ripple {
	100% {opacity: 0; transform: scale(2.5);}
}
// top navigation
.top-navigation{
  display: flex;
  justify-content: space-between;
  position: fixed;
	background-color: #ffb612;
  height: 50px;
  font-weight: 800;
  color: #323c3f;
  width: 100%;
  z-index: 2;
  .nav-title{
    display: flex;
    align-items: center;
    .icon{
      position: relative;
      overflow: hidden;
      text-align: center;
      &.language{
        background-image: url("../img/icons/language.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
      }
    }
    a{
      display: block;
      height: 50px;
      width: 50px;
      padding: 13px 0;
    }
    .page-title{
      position: absolute;
      top: 16px;
      line-height: 15px;
      font-size: 12px;
      left: 45px;
      letter-spacing: 1px;
    }
  }
  .nav-icons{
    position: relative;
    overflow: hidden;
    background: #ffc74a;
    display: flex;
    justify-content: space-between;
    > div {
      position: relative;
      overflow: hidden;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.sync-active{
        width: auto;
        padding: 0 30px;
      }
      i.threeg{
        margin-right: 10px;
      }
    }
    .second{
      margin-left: -20px !important;
    }
  }
  a{
    color: #323c3f;
  }
  i{
    font-weight: 300;
    font-size: 16px;
  }
  .notification-no {
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 15px !important;
    background: #ef3e0f;
    border-radius: 100%;
    top: 10px !important;
    right: 10px;
    padding: 0px 4px;
    font-size: 10px;
    color: #fff !important;
    font-weight: 400;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .pi-cart-no{
    @extend .notification-no;
  }
  .pull-right{
    position: relative;
    background-color: #ffc74a;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
	small{
		font-weight: 600;
	}
}
// select retailer
.select-retailer {
  background-color: #edecec;
  border-bottom: solid 1px #d8d8d7;
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  span{
    width: 40%;
    display: inline-block;
    height: 30px;
    padding: 9px 0;
    border-radius: 100px;
    font-size: 10px;
  }
  i{
    font-size: 20px;
    margin: 0px 10px;
  }
  .cta-bg{
    background: map-get($colors, brand-light);
  }
  .dark-bg{
    background-color: #d3d3d3;
  }
}
// search-area
.search-area {
  position: relative;
  width: 100%;
  height: 45px;
  background: #fff;
  text-align: center;
  padding: 3px 10px;
  &.fix-search {
    position: fixed;
    top: 50px;
    z-index: 99;
  }
	i{
		color: #7c8595;
	}
  i.search{
    font-size: 16px;
    padding-top: 9px;
  }
  i.barcode{
    font-size: 21px;
    padding: 3px 0px 0px 5px;
  }
  i{
    vertical-align: top;
    display: inline-block;
  }
  .form-control{
    vertical-align: top;
  }
  input{
    width: 80%;
    display: inline-block;
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    font-size: 11px;
    min-width: 220px;
    font-style: italic;
    text-align: left;
    letter-spacing: 1.2px;
    padding: 0 10px;
    &:focus{
      outline: none;
      box-shadow: none !important;
    }
  }
}
// main-content
.content{
  position: relative;
  margin-top: 5px;
  .panel{
    background: none;
    border: none;
    box-shadow: none;
  }
  .item{
    position: relative;
    margin: 0 5px;
    background-color: #fff;
    margin-bottom: 6px;
    border-radius: 3px;
    overflow: hidden;
    .title{
      position: relative;
      overflow: hidden;
      a{
        display: block;
        color: #000;
        min-height: 60px;
      }
      .abc {
        display: table;
        padding: 0px 15px;
        width: 100%;
        vertical-align: middle;
      }
      .text {
        position: relative;
        left: 38px;
        display: table-cell;
        font-size: 14px;
        font-weight: 600;
        vertical-align: middle;
        letter-spacing: 0.5px;
        top: 10px;
      }
			.right-icons {
		    position: relative;
		    display: table;
		    float: right;
				div{
			    display: table-cell;
			    vertical-align: middle;
				}
				.barcode{
					min-width: 40px;
					color: #656870;
					i{
						font-size: 20px;
					}
				}
        .barcode2{
          position: relative;
          padding: 0 10px 0 50px;
          i{
            font-size: 36px;
          }
        }
        // vs categories page
        .box-no{

        }
        .sm-box-error{
          color: #ef3e0f;
          font-size: 16px;
          display: inline-block;
          padding-top: 5px;
          padding-right: 5px;
        }
        .sm-box{
          color: #bfbebe;
        }
			}
      .right-icon {
        display: table-cell;
        vertical-align: middle;
				min-width: 60px;
        padding-top: 17px;
        .icon.audit-success{
          color: #bfbebe;
          font-size: 20px;
        }
        .icon.sucess{
          color: #00ac78;
          font-size: 16px;
        }
      }
      .arrow-right{
        background: none;
        font-size: 16px;
      }
      .item-icon{
        position: absolute;
        height: 30px;
        width: 30px;
        display: table-cell;
        border-radius: 50%;
        background: #d8d8d7;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        top: 15px;
        i{
          font-size: 16px;
        }
      }
			.item-img{
				@extend .item-icon;
				background-size: contain;
		    background-position: center;
		    background-repeat: no-repeat;
			}
      small{
        font-size: 80%;
        font-weight: 400;
      }
      .vt{
        vertical-align: top;
        line-height: 15px;
        top: 17px;
      }
			// food items
			span.price {
		    font-size: 13px;
		    font-weight: 600;
				display: inline-block;
				padding-top: 5px;
				margin-bottom: -5px;
			}
			span.category {
				background: none;
		    font-size: 13px;
		    margin: 0;
		    font-weight: 400;
		    color: #6d6d74;
			}
			.fvt{
				font-weight: 800;
        vertical-align: top;
        line-height: 15px;
      }
			// mobile

    }
		.next-page{
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 20%;
      overflow: hidden;
			i{
				color: #323c3f;
        font-size: 16px;
        padding-top: 5px;
			}
			a{
        display: block;
        height: 100%;
        padding: 15px 15px 0px 0;
			}
		}
    .body{
      border-top: solid 1px #ddd;
      background: #fafafa;
      font-size: 16px;
      .title{
        padding: 10px 20px;
        background-color: initial;
        border-bottom: solid 1px #ddd;
        p{
          margin: 0;
          font-size: 11px;
        }
      }
      .description{
        position: relative;
        padding: 10px 23px;
        font-size: 12px;
        p:last-child{
          margin: 0;
        }
				.qty{
					text-align: center;
				}
				.btn-number{
					background: url("../img/icons/qty-minus.png");
					background-repeat: no-repeat;
					background-size: cover;
					border: none;
					height: 20px;
					width: 20px;
					text-align: center;
          margin-top: 3px;
          outline: none;
				}
				.plus{
					background: url("../img/icons/qty-plus.png");
			    background-repeat: no-repeat;
			    background-size: cover;
				}
        .bar-code{
          height: 20px;
          width: 20px;
          text-align: left;
          margin-top: 2px;
          outline: none;
          border: solid 1px #c1c1c1;
          border-radius: 100%;
          background: none;
          overflow: hidden;
          padding: 0 1px;
          position: relative;
          i{
            position: absolute;
            top:-7px;
            right: 6px;
            font-size: 10px;
          }
        }
				input{
          width: 50px !important;
          margin: 0 5px;
          border-radius: 6px;
          border: solid 1px #c1c1c1;
          padding: 0 5px;
          height: 25px;
          vertical-align: top;
          outline: none;
          font-size: 10px;
          text-align: center;
				}
				.input-qty{
					padding: 0;
				}
				.total-amt{
					.value{
						font-weight: 600;
				    font-size: 12px;
				    margin: 0;
					}
				}
      }
      i{
        font-size: 16px;
        padding-top: 4px;
      }
			.btn-bar {
		    background: none;
		    border: solid 2px #c1c1c1;
		    border-radius: 100%;
		    height: 35px;
		    width: 35px;
		    text-align: center;
			}
    }
		.w80{
			width: 80%;
		}
		// side icons
		.rupee-cart {
	    color: #656870;
			min-width: 80px;
			i {
				font-size: 16px;
	    	color: #bfbebe;
			}
      i.aim {
        font-size: 20px;
      }
		}
    .download{
      color: #bfbebe;
    }
	}
}
// footer fixed bottom cta
footer.bottom{
	position: fixed !important;
  display: table;
	bottom: 0;
	width: 100%;
  background: #ffb612;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.3px;
  a{
    display: table-cell;
    height: 50px;
    text-align: center;
    position: relative;
    vertical-align: middle;
    color: #323c3f;
    width: 50%;
  }
  a#add-to-cart{
    position: absolute;
    width: 100%;
    padding-top: 15px;
    .add{
      position: absolute;
      width: 100%;
      left: 0;
    }
    .added{
      position: absolute;
      width: 100%;
      right: -100%;
    }
  }
  .slide{
    .add{
      left: -100% !important;
      transition: all 1s;
    }
    .added{
      right: 0 !important;
      transition: all 1.5s;
    }
  }
  @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
  a.add{
    background: #ffc74a;
    width: 30%;
  }
  a.first{
    background: #ffc74a;
  }
  i{
    font-size: 16px;
  }
}
.add-to-cart-img {
  display: none;
  position: absolute;
  top: calc(50vh - 75px);
  right: calc(50vw - 75px);
  background: #ffb612;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  text-align: center;
  padding: 45px 0;
  color: #fff;
  border: solid;
  i{
    font-size: 40px;
  }
  &.slide{
    right: -30px;
    top: -60px;
    z-index: 999;
    transform: scale(0);
    transition: top 0.8s, right 0.8s, transform 1s;
  }
}
// scan sales
.scan-img{
		position: relative;
    background: url("../img/scan-1.png");
    height: 220px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	i{
		color: #fff;
    font-size: 16px;
	}
	.scan-nav {
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    text-transform: uppercase;
    i.back{
      font-size: 20px;
      margin-right: 10px;
    }
	}
	.scan-bottom{
		position: absolute;
		bottom: 0;
		right: 0;
		a{
			display: inline-block;
    	padding: 5px 20px;
		}
    .icon.flash-on{
      font-size: 22px;
    }
	}
}
.scan-sr {
  position: relative;
  margin: 5px;
  text-align: center;
	div {
    display: inline-block;
    background: #fff;
    min-height: 40px;
    border: solid 1px #d8d8d7;
    padding: 10px 10px 0 10px;
    font-size: 14px;
    background-image: none !important;
	}
	i{
		color: #cfcece;
    font-size: 16px;
	}
	.enter-sr {
    width: 100%;
    color: #7c8595;
    font-style: italic;
    text-align: center;
    input{
      border: none;
      outline: none;
      text-align: center;
    }
	}
	.reload {
    width: 50%;
		background-image: none;
	}
	.end-range {
    width: 50%;
    float: right;
    color: #c3c7cf;
	}
}
.green{
	div{
		font-style: normal !important;
		color: #323c3f !important;
    font-weight: 600;
	}
	i{
		color: #221f1f !important;
    font-size: 16px;
	}
}
.scan-barcode {
  position: relative;
  text-align: center;
  font-weight: 800;
  padding: 50px 0;
	img {
	  width: 100px;
	  height: auto;
	}
	h4 {
    font-size: 18px;
    font-weight: 800;
    margin: 10px 0 0 0;
    letter-spacing: 2px;
	}
	p {
    font-size: 14px;
    font-weight: 400;
	}
}
.modal-dialog{
	width: 90%;
}
.modal-content{
  border: none;
  box-shadow: none;
	.header {
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    font-size: 14px;
    background: #e4e2e2;
    border-bottom: solid 1px #c1c1c1;
	}
	.footer {
		@extend .header;
    background: #ffb612;
		border: none;
	}
	.body {
		padding: 30px;
    font-size: 16px;
		input {
    	border: solid 1px #c1c1c1;
			padding: 5px;
			width: 100%;
      text-align: right;
      padding-right: 50px;
		}
    #creditCardNo{
      padding-right: 60px;
    }
    p{
      font-weight: 600;
      margin-bottom: 5px;
      font-size: 14px;
    }
	}
  .select-duration{
    padding: 10px 20px;
    p{
      color: #b1b1b8;
      padding: 10px 0px;
      border-bottom: solid 2px #d9d8d8;
      i{
        margin-right: 10px;
      }
    }
  }
  .select-reason{
    padding: 10px 20px;
    p{
      color: #b1b1b8;
      padding: 10px 0px;
      border-bottom: solid 2px #d9d8d8;
      i{
        margin-right: 10px;
        font-size: 16px;
      }
    }
  }
  .active{
    color: #323c3f !important;
    background: none;
    i{
      color: #24bd97;
    }
  }
}
// cart items
.cart-amount{
	background: #fff;
  margin: 5px;
  padding: 0px;
	border-radius: 3px;
	.panal{
		border: none;
	}
	div{
		background-image: none !important;
	}
	a{
		min-height: auto !important;
	}
	.item{
		padding: 0;
		p{
			> i{
				margin-right: 10px;
			}
		}
		span{
			text-align: right;
			min-width: 100px;
		}
		.title{
			padding: 20px 1em !important;
			font-size: 14px;
			font-weight: 800;
			i{
				font-weight: 300;
				font-size: 18px;
			}
		}
		.body{
			background: none;
			padding: 10px 1em;
			border: none;
			border-bottom: solid #e4e6e6 1px;
			p{
        padding: 5px 0;
        font-weight: 600;
        font-size: 14px;
			}
		}
	}
  i.edit{
    font-size: 14px !important;
  }
}
// footer link
.f-link{
	position: relative;
	display: table;
	background: #ffb612;
  padding:0;
	width: 100%;
  text-align: left;
  color: #323c3f;
  font-size: 20px;
  font-weight: 600;
	bottom: 0;
	letter-spacing: 1.3px;
	a {
    display: table-cell;
		text-align: center;
    position: relative;
    padding: 10px 0;
		color: #323c3f;
		width: 50%;
	}
	.first{
		background-color: #ffc74a;
		width: 35%;
	}
}
// sales payment
span.round-border {
  border: solid 1px #c1c1c1;
  padding: 2px 5px;
  border-radius: 10px;
  display: inline-block;
  width: 90px;
  text-align: right;
}
.sales-payment{
	.item{
		background: none;
		.total-due{
			width: 100%;
			background-color: #fff !important;
			font-size: 16px;
			padding: 10px 20px !important;
		}
		.title{
			background-color: #c5c5c5;
			font-weight: 600;
      padding: 10px 20px;
      font-size: 14px;
		}
		.body{
			background: none;
			padding: 0;
			.payment-method{
        background: #fff;
        margin: 2px 0;
        border-radius: 1px;
        padding: 10px 20px;
        font-size: 14px;
				div{
					padding: 5px;
					font-size: 14px;
				}
        span#creditMonth {
          width: 60px !important;
        }
        span#creditYear {
          width: 60px !important;
        }
			}
			.total{
				font-weight: 600;
			}
      input{
        width: 90px;
        border: solid 1px #c1c1c1;
        padding: 2px 10px;
        border-radius: 10px;
        text-align: right;
        &#cvv{
          width: 60px;
          font-size: 14px;
        }
      }
		}
	}
}
// summary
.summary{
  padding: 10px;
  background: #fff;
  background-image: url("../img/sucess-bg.png");
  background-repeat: no-repeat;
  background-size: 95px;
  background-position: top 5px right 10px;
  margin: 5px;
  .title{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: dashed  #7f7f84 2px;
    h2{
      margin: 10px 0;
      font-weight: 600;
      color: #323c3f;
      font-size: 20px;
    }
    p{
      color: #7f7f84;
      letter-spacing: 3px;
      word-spacing: 10px;
      font-weight: 600;
    }
  }
	.ques {
		padding: 5px 0;
		font-size: 14px;
		font-weight: 600;
		color: #323c3f;
		div {
			display: inline-block;
		}
		.left {
			float: left;
			min-width: 80px;
			color: #7f7f84;
			text-transform: uppercase;
		}
	}
	.details {
	  padding: 10px 0;
	}
}
/**********************************
******** Navigation Menu *********
**********************************/
//Navigation Menu
#body{
  position: relative;
  overflow-y: scroll;
  background-color : map-get($colors, body);
}
#page {
  width: 100%;
  position: relative;
  top: 0;
  transition: all .3s ease;
  min-height:100vh;
  background-color : map-get($colors, body);
}
.opened-menu{
  margin-left: 90% !important;
}
.opened-notification{
  margin-left: -90% !important;
}
.open-notification{
  margin-left: 10% !important;
}
.full-block{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
  z-index: 9999;
}
//menu
#menu{
  position: fixed;
  width: 90%;
  background: #d8d8d8;
  margin-left: -90%;
  height: 100%;
  transition: all .3s ease;
  background-color : map-get($colors, body);
  overflow-y: scroll;
	.user-details{
    position: relative;
    display: table;
    width: 100%;
    background : map-get($colors, brand);
		div{
      display: table-cell;
      vertical-align: middle;
			height : 60px;
		}
    .user-pic{
      width: 30px;
      img{
  			width: 40px;
  			height : auto;
        margin-top: 5px;
        margin-left: 5px;
  		}
    }
    .user-info {
      padding-left: 10px;
      font-size: 14px;
      .name {
        font-weight: 400;
      }
      .position {
        font-weight: 600;
      }
    }
  }
  .sub-menu{
    display: table;
    width: 100%;
  	background: #f2f3f4;
  	height:50px;
  	position: relative;
  	border-bottom: solid 3px #fff;
    padding: 0 20px;
  	&:after{
  		content : '';
  		background: #323c3f;
  		position: absolute;
  		bottom: -3px;
  		width:45%;
  		height: 3px;
      left: 0;
  	}
  	div{
      display: table-cell;
  		position : relative;
      font-size: 14px;
      font-weight: 600;
      vertical-align: middle;
  	}
		.threeg{
      text-align: right;
	    color: #24bd97;
      i{
        font-size: 16px;
      }
    }
  }
  ul.menu-item{
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: 15px;
    li{
      border-bottom: solid 1px #acb1bb;
      a{
        display: block;
        padding: 10px 0;
        color: #323c3f;
        font-size: 12px;
      }
    }
    li:last-child{
      border: none;
    }
  }
  .content{
    margin: 0;
    .item{
      margin: 1px 0;
      background-color: #f2f3f4;
      border-radius: 0;
      .title{
        a{
          min-height: auto;
        }
        .text{
          left: 0;
          padding: 10px 20px;
          color: #323c3f;
          text-transform: uppercase;
          top: 0;
          font-size: 12px;
        }
        .abc{
          padding: 0;
        }
        .right-icon{
          padding-right: 20px;
          width: 10px;
          padding-top: 5px;
          i{
            font-size: 16px;
          }
        }
      }
      .body{
        background-color: map-get($colors, body);
        padding:0 40px;

      }
    }
  }
}
.main-content{
  margin: 0;
  .item{
    margin: 0;

    .body{
      background-color: map-get($colors, body);
      .menu-item{
        padding: 0;
        list-style: none;
        margin: 0;
        font-size: 15px;
        li{
          padding: 10px 0;
        }
      }
    }
  }
}

.open-menu{
  margin-left: 0 !important;
}
.nav-drop-down{
	.panel{
		border: none;
	}
	.category{
    background: #f2f3f4;
    border-bottom: solid 1px #dee0e4;
		margin:0px;
    border-radius: 0;
		.category-title{
      margin: 0;
      padding: 10px 0;
      a{
        min-height: 20px;
        width: 100%;
      }
      .item-text{
        font-weight:400;
      }
		}
	}
	a{
		height: 20px !important;
	}
  .panel-collapse {
      background-color: #dee0e4;
  }
  .category-body{
    margin: 0;
    padding: 0 20px;
    li{
      padding: 10px;
      border-bottom: solid 1px #acb1bb;
    }
  }
}
// notification
#notification{
  height: 100%;
  margin-left: 100%;
  position: fixed;
  top: 0;
  width: 90%;
  transition: all .3s ease;
  overflow-y: scroll;
  background-color : map-get($colors, body);
  .sort-notification{
    position: relative;
    display: table;
    width: 100%;
    div{
      display: table-cell;
      margin: 0;
      background-color: #edecec;
      text-align: center;
      padding: 10px;
      border: solid 1px map-get($colors, body);
    }
    i{
      font-size: 20px;
      margin-right: 5px;
    }
  }
  .content{
    .panel{
      border: none;
    }
    .title{
      left: 0;
      min-height: auto;
      background: #c5c5c5;
      a{
        min-height: auto;
      }
      .abc{
        padding: 0;
      }
      .text{
        padding: 5px 10px;
        left: 0;
        height: auto;
      }
    }
    .body{
      background: #d8d8d7;
      padding: 0;
      font-size: 16px;
      font-weight: 600;
      .highlight{
        border-left: #ffb612 solid 5px;
        background-color: #f2f2f2;
      }
      div{
        margin:5px 0;
        padding: 20px 10px;
        background-color: #fff;
      }
      .arrow-right{
        background-size: 7px;
        background-position: right 40px center;
      }
    }
  }
  footer.bottom {
    overflow: hidden;
    width: 90%;
    a{
      width: 100%;
    }
  }
}
//GD
#se-error {
  position: absolute;
  top: 10px;
  padding: 10px;
  background: #0d0905;
  width: calc(100% - 10px);
  margin: 0px 5px;
  font-size: 16px;
  background-image: url("../img/icons/error.png");
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 70px;
  padding-left: 105px;
  z-index: 999;
  color: #fff;
}
.form-section {
  background: #fff;
  padding: 10px 20px;
  margin: 5px;
}
.form-section input {
  width: 100%;
  border: none;
  border-bottom: solid 1px #d8d8d8;
  padding: 10px 0;
  font-size: 14px;
  font-style: italic;
  outline: none;
}
.loction-section {
  position: relative;
  background: #ffb612;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  div {
    display: inline-block;
    padding: 10px 20px;
  }
  .location-details{
    width: 80%;
  }
  .icon{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 16px;
  }
}

.loction-on-map {
  position: relative;
  padding: 10px 20px;
  background: #ffb612;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  i{
    position: absolute;
    top: 9px;
    right: 20px;
    font-size: 16px;
  }
}

.postal-code {
  padding: 10px 20px;
  background: #fff;
  margin: 5px;
}
.postal-code input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  font-style: italic;
}
#menuBarAnimated{
  height: 60px;
  position: relative;
}
.multi-tab {
  position: relative;
  min-height: calc(100vh - 170px);
}
// sales summary/receipt
.payment-mode {
  margin: 5px;
  padding: 0px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  div{
    padding: 10px 20px;
    background: #fff;
    margin-bottom: 2px;
    border-radius: 3px;
  }
  .title{
    text-transform: uppercase;
  }
}
.good-day{
  @extend .payment-mode;
  background: #fff;
  font-style: italic;
  padding: 5px 0px;
  text-align: center;
  color: #323c3f;
}
.sms-mail-print{
  @extend .good-day;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  a{
    color: #323c3f;
  }
  div{
    position: relative;
    overflow: hidden;
  }
}
// add quantity food item
.add-quantity {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
//  padding: 10px 20px;
  p{
    font-size: 10px;
    text-align: center;
  }
  .total-amt {
    position: relative;
    margin-right: 50px;
  }
}
// add quantity in mobile item
.tabs {
  list-style: none;
  position: absolute;
  text-align: left;
  top: -16px;
  width: 100%;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}
.tabs label {
  display: block;
  padding: 5px 10px;
  border-radius: 35px 0 0 35px;
  font-size: 14px;
  font-weight: normal;
  background: #d3d3d3;
  position: relative;
  left: -30px;
}

.tabs .tab-content {
//  z-index: 2;
  display: none;
  overflow: hidden;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;

}
.tabs [id^="tab"]:checked + label {
  background: #ffc74a;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: table;
  vertical-align: middle;
  width: 100%;
  left: -20px;
}
// sales cart modals
.input-with-icon {
  position: relative;
  border: solid 1px #c1c1c1;
  i {
    position: absolute;
    right: 10px;
    border-left: solid 1px #c1c1c1;
    padding-left: 5px;
  }
}
// Hierarchy
.dashboard-bg{
  background-color: #fff;
  background-image: url(../img/req-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 17px;
  .top-navigation{
	  position: relative;
    background-color: transparent;
    color: #fff;
	  i{
	    color: #fff;
	  }
	  div{
      background: transparent;
	  }
	  span{
	    color: #fff;
	  }
	  .pull-right{
      background: none;
	    display: flex;
	    justify-content: space-between;
	    i{
	    //  font-size: 36px;
	    }
	  }
  }
  .icons{
    i{
      color: #323c3f;
      font-size: 25px;
    }
  }
}
// new profile-box
.pro-box{
  position: relative;
  background: #fff;
  padding: 10px 0;
  margin: 0 5px;
  border-top: solid 5px #ffb612;
  .profile {
    display: table;
    position: relative;
    background: #fff;
    padding: 10px;
    vertical-align: middle;
    .user-img {
    //  display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 150px;
      font-weight: 600;
      img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-bottom: 10px;
      }
    }
    .user-details{
      display: table-cell;
      vertical-align: middle;
      .name{
        font-weight: 600;
      }
    }
  }
  .icons {
    text-align: center;
    margin: 0 10px;
    border-top: solid 2px #e4e6e6;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    img {
      height: 20px;
      width: auto;
    }
  }
}
.dashboard-sync {
  position: relative;
  padding: 15px;
  background-color: #ffb612;
  height: 50px;
}
.dashboard-row1, .language-row {
  position: relative;
  padding: 25px 15px;
  background-color: white;
  height: 75px;
  margin: 5px;
  font-weight: 700;
  font-size: 18px;
  .circle {
    border-radius: 50%;
    border: 1px solid #333;
    padding: 5px;
    min-width: 45px;
    min-height: 45px;
    display: block;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    margin-top: -10px;
  }
  .total-due {
    display: inline-block;
  }
}
// DashBoard
.dashboard{
  .panel {
    background: transparent;
    border: none;
    box-shadow: none;
  }
  .title{
    min-height: auto;
    background-color: #c5c5c5;
    border: none;
    padding: 1em;
    a{
      min-height: auto !important;
    }
    .text{
      height: auto !important;
    }
    .abc{
      padding: 0 !important;
    }
    i{
      font-size: 16px;
    }
  }
  .body{
    padding: 0;
    p{
      padding: 15px 20px;
      background-size: 6px;
      margin: 1px 0px;
      border-radius: 3px;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      a{
        display: block;
      }
    }
  }
  .product-heading{
    height: 50px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 900;
    padding: 0 10px;
    border-bottom: 1px solid #d8d8d8;
    div{
      display: inline-block;
      padding: 10px;
    }
    .active{
      border-bottom: 4px solid #FFB612;
    }
  }
  .product-chart{
    position: relative;
    padding: 10px 20px;
    canvas{
      width: 100% !important;
      height: 300px !important;
    }
    table{
      width: 100%;
      text-align: left;
      color: #323c3f;
      font-size: 20px;
      font-weight: 600;
    }
  }
  .target-vs-achievement{
    font-size: 26px;
    font-weight: 600;
    div{
      position: relative;
      display: inline-block;
      padding: 15px 10px;
    }
    small{
      font-size: 60%;
    }
    .text{
      position: relative;
      display: inline-block;
      left: 60px;
      line-height: 25px;
      color: #323c3f;
    }
    span.icon {
      display: inline-block;
      height: 40px;
      width: 40px;
      background: #ffb612;
      padding: 0px 5px;
      border-radius: 100%;
      position: absolute;
      top: 20px;
      color: #fff;
      i{
        position: absolute;
        font-size: 24px;
        padding: 5px 3px;
      }
    }
    .target{
      width: 50%;
      border-right: solid 1px #d9d8d8;
    }
  }
}
// rq-payment
p.creditCardNo {
    position: relative;
}
.visa-icon {
  position: absolute;
  background-image: url("../img/visa.png");
  display: inline-block;
  width: 50px;
  height: 100%;
  right: 5px;
  bottom: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-left: solid 1px #c1c1c1;
}
#creditCardField{
  > span{
    position: relative;
    padding-right: 60px;
    margin-top: -6px;
    width: auto;
  }
}
.select-month{
  p{
    padding: 10px 20px;
    border-bottom: solid 1px #c1c1c1;
  }
}
// modal on center
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
}
// sr-reason
.sr-reason{
  .item{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
  }
  textarea{
    border: none;
    width: 100%;
    min-height: 100px;
    outline: none;
    font-weight: 400;
    color: #7c8595;
    resize: none;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-style: italic;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      font-style: italic;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
  }
}
// ts-customer-details
.customer-details {
  position: relative;
  background: #fff;
  margin: 5px;
  padding: 10px 20px;
  input{
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: solid 1px #e4e6e6;
    padding: 10px 0;
    border-radius: 0;
    font-size: 14px;
    font-style: italic;
    &:focus, &:active{
      border: none;
      box-shadow: none;
      outline: none;
      border-bottom: solid 1px #e4e6e6;
    }
  }
  .form-group{
    span{
      width: 100%;
      input{
        width: 100%;
      }
    }
  }
}
.upload-capture {
  position: relative;
  padding: 10px 20px;
  margin: 5px;
  background: #ffb612;
  font-size: 12px;
  font-weight: 600;
  i{
    font-size: 16px;
  }
}
.upload-capture-modal{
  .body{
    padding: 0;
    &:first-child{
      border-bottom: solid 1px;
    }
    p{
      padding: 5px 10px;
      font-size: 14px;
      font-weight: 400;
      border-bottom: solid 1px #e6e7e8;
      i{
        color: #e4e6e6;
        margin-right: 10px;
        font-size: 16px;
      }
      &.active{
        color: #323c3f !important;
        i{
          color: #24bd97;
        }
      }
    }
  }
}
// ts-cvv input box-box
input.cvv {
  width: 50px;
  border: solid 1px #c1c1c1;
  border-radius: 10px;
  padding: 0 10px;
}
// task page
.sort-task {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  div {
    display: flex;
    border: solid 1px #d8d8d7;
    background: #edecec;
    padding: 10px 5px;
    text-align: center;
    font-size: 12px;
    justify-content: space-around;
    width: 33.3333%;
    align-items: center;
  }
  .active{
    background: map-get($colors, brand-light);
  }
  i{
    font-size: 18px;
  }
  &.mt{
    div{
      width: 50%;
      justify-content: center;
      font-size: 14px;
    }
    i.icon{
      margin-right: 10px;
    }
  }
}
// task content
.content.task{
  #no-record{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #d8d8d7;
    padding: 30% 35%;
    display:none;
  }
  .item{
    background: none;
  }
  .title{
    background: #c5c5c5;
    padding: 0 10px;
    a{
      min-height: 40px;
    }
    .text{
      left: 0;
      font-weight: 600;
    }
    .arrow-icon{
      position: absolute;
      right: 10px;
      top: 10px;
      i{
        font-size: 16px;
      }
    }
  }
  .body{
    padding: 0;
    background: none;
    div{
      padding: 0;
    }
  }
  .single-task {
    position: relative;
    display: table;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border: solid #d8d8d7 1px;
    font-size: 12px;
    &.active{
      border: solid #ffb612;
    }
    div{
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
    }
    .req-id{
      position: relative;
      text-align: center;
      background: #edecec;
      color: #7c8595;
      width: 100px;
      i{
        font-size: 20px;
      }
      .id{
        font-size: 16px;
        letter-spacing: 4px;
      }
      &.new{
        background: #ffb612;
        color: #fff;
        .new-noti{
          position: absolute;
          top: 0;
          right: 3px;
        }
      }
    }
    .task-dec{
      p{
        margin: 0;
      }
      .title{
        border: none;
        font-weight: 800;
        padding: 0;
      }
      .org{
        font-weight: 600;
      }
      .created-by, .date{
        color: #6d6d74;
      }
    }
    .value{
      font-weight: 800;
    }
    .task-icon{
      i{
        font-size: 22px;
      }
      .sucess{
        color: #24bd97;
      }
      .error{
        color: #ef3e0f;
      }
      .icon.cross{
        top: -2.5px;
      }
    }
  }
}
// new task
.new-task {
  margin: 5px;
  position: relative;
  textarea {
    width: 100%;
    border: none;
    outline: none;
    min-height: 180px;
    padding: 10px;
    resize: none;
  }
}
// my transactions
.second-menu {
  position: relative;
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: space-around;
  a{
    display: inline-block;
    padding: 16px 0;
    font-size: 20px;
    color: #000;
    font-weight: 600;
  }
  .active{
    border-bottom: 4px solid #FFB612;
  }
}
// posm search
.posm-search {
  position: relative;
  .title {
    background: #c5c5c5;
    font-size: 16px;
    padding: 10px 20px;
  }
  .body {
    background: #fff;
    font-size: 20px;
    padding:20px;
    position: relative;
    input {
      border: solid 1px #c1c1c1;
      width: 100%;
      padding: 5px;
      padding-right: 50px;
      position: relative;
    }
    i{
      position: absolute;
      right: 40px;
      top: 23px;
    }
  }
}
// posm-banner
table.bannar-qty{
  width: 100%;
  td{
    width: 50%;
    padding: 10px 0;
  }
  td:nth-child(2){
    text-align: center;
  }
}
.link-page{
  float: right;
  border: solid 1px #c1c1c1;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
  a {
    padding: 5px 15px;
    min-height: auto !important;
  }
}
// sync
.sync{
  .top-navigation{
    border-bottom: solid 3px #fff;
    span.icon-text {
      position: relative;
      top: -5px;
      width: auto;
      padding: 10px 10px;
    }
    .pull-right{
      height: 60px;
      padding: 15px 10px;
      background: transparent;
      i{
        position: absolute;
        top: 12px;
        right: 80px;
      }
    }
    &:after{
  		content : '';
  		background: #323c3f;
  		position: absolute;
  		bottom: -3px;
  		width:35%;
  		height: 3px;
      left: 0;
  	}
  }
  .upload-download {
    position: relative;
    height: 50px;
    display: table;
    width: 100%;
    font-size: 14px;
    div{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      background: #c5c5c5;
    }
    i{
      font-size: 16px;
    }
    .active{
      background: #ffc74a;
    }
    i.upload, i.download{
      margin-right: 10px;
    }
    i.error {
      margin-left: 10px;
    }
  }
  .content .item{
    background: #c5c5c5;
    .title{
      a{
        min-height: 50px;
      }
      .abc{
        .text{
          font-size: 14px;
          top: 6px;
          font-weight: 600;
        }
        .text.vt{
          left: 45px;
          padding: 2px 10px;
        }
      }
      .master-icon{
        position: absolute;
        color: #d8d8d7;
        top: 7px;
        i{
          font-size: 26px;
        }
        &.active{
          i{
            color: #ffb612;
          }
        }
      }
    }
    .body{
      padding: 0;
      background: transparent;
      border: none;
    }
    .transaction {
      display: table;
      width: 100%;
      padding: 10px 20px;
      background: #fff;
      border-radius: 3px;
      div{
        display: table-cell;
        vertical-align: middle;
        padding: 0;
      }
      .right-icon{
        text-align: right;
        .cross-icon{
          height: 30px;
          width: 30px;
          padding: 4px;
        }
      }
      .left{
        p{
          margin: 0;
        }
        p.id {
          font-size: 16px;
        }
        p.date {
          font-size: 24px;
          font-weight: 600;
        }
        p.category {
          font-size: 18px;
        }
      }
    }
    figure {
      position: relative;
      display: inline-block;
      width: 40%;
      margin: 20px 10px;
      img {
        width: 100%;
        height: 40%;
        border: solid 5px #d8d8d7;
      }
      .cross-icon{
        position: absolute;
        top: -5px;
        right: -5px;
        height: 30px;
        width: 30px;
        padding: 4px;
      }
      figcaption {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-transform: uppercase;
      }
    }
  }
  .content.download .item{
    background: #fff;
    .right-icon{
      i.download{
        color: #656870;
        font-size: 16px;
      }
    }
    .text{
      color: #323c3f;
    }
  }
  .download-tab{
    ul{
      background: #fff;
      li{
        width: 50%;
        text-align: center;
        font-size: 14px;
        margin: 0;
      }
      a{
        color: #323c3f;
        border: none;
      }
      .active > a{
        border: none;
        padding: 0 15px;
        span{
          display: inline-block;
          border-bottom: solid 4px #ffb612;
          padding: 10px;
          font-weight: 600;
        }
      }
    }
  }
}
// Beat
.title.beat{
  .text{
    top: 7px !important;
  }
  .right-icons{
    padding-top: 12px;
    .cross i{
      font-size: 16px;
    }
    .barcode{
      .icon.sucess{
        font-size: 25px !important;
        color: #24bd97 !important;
      }
      .icon.error{
        font-size: 25px !important;
        color: #ef3e0f !important;
      }
    }
  }
}
.body.beat {
  padding: 0 !important;
  border: none !important;
  background: #c5c5c5 !important;
  .top-bar {
    position: relative;
    display: flex;
    justify-content: space-around;
    background: #ffc74a;
    padding: 10px 20px;
    i{
      font-size: 20px;
    }
    .info-icon{
      top: 5px;
      border: solid 2px #333;
      height: 20px;
      width: 20px;
      i.icon.info:before{
        top: -10px;
        left: -5px;
        font-size: 25px;
      }
    }
  }
  .sort-shops {
    font-size: 14px;
    font-weight: 600;
    color: #323c3f;
    letter-spacing: 0.5px;
    padding: 10px 20px !important;
  }
  .shop {
    position: relative;
    display: table;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    padding: 0 20px;
    min-height: 50px;
    margin: 1px 0;
    div {
      display: table-cell;
      vertical-align: middle;
    }
    div.icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #c3c7cf;
      padding: 4px 6px;
      font-size: 0;
      position: absolute;
      top: 10px;
      i{
        color: #fff;
        font-size: 18px;
      }
    }
    div.text{
      position: relative;
      left: 50px;
      font-size: 14px;
      font-weight: 600;
      vertical-align: middle;
    }
    .right-icon{
      padding: 0;
      i{
        font-size: 16px;
      }
    }
  }
}
// beat sub-menu
.sub-menu {
  position: relative;
  height: 60px;
  ul{
    background: #fff;
    border: none;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0;
    li{
      float: none;
      display: inline-block;
      a{
        display: block;
        height: 50px;
        padding: 15px 10px;
        font-size: 14px;
        color: #323c3f;
        font-weight: 600;
      }
    }
    .active{
      a{
        border-bottom: 5px solid #FFB612;
        font-weight: 800;
      }
    }
  }
}
.beat-sm{
  padding: 0 5px;
  .title{
    padding: 10px 20px;
    background: #c5c5c5;
    font-weight: 600;
    font-size: 14px;
  }
  .item{
    position: relative;
    display: table;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    margin: 1px 0;
    padding: 1em;
    div {
      display: table-cell;
      vertical-align: middle;
    }
    div.icon{
      top: 7px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #c3c7cf;
      padding: 5px 7px;
      font-size: 0;
      position: absolute;
      i{
        color: #fff;
        font-size: 16px;
      }
    }
    .text {
      position: relative;
      left: 40px;
      font-size: 1em;
      font-weight: 600;
    }
    .right-icon {
      text-align: right;
      i.icon.sucess {
        color: #24bd97;
        font-size: 16px;
      }
    }
    p{
      font-size: 14px;
      font-weight: 600;
    }
  }
}
// landing page
.landing-page{
  position: relative;
  margin-top: 10px;
  a{
    color: #323c3f;
  }
  .landing-bar.transparent {
    background-color: transparent;
  }
  .landing-bar {
    padding: 10px 10px 0;
    font-weight: 700;
    .figure {
      font-size: 60px;
      color: #ffb612;
    }
    .tasks {
      font-size: 20px;
      padding-top: 25px;
    }
    .block1, .block2 {
      background-color: white;
      padding-top: 10px;
      width: 49.1%;
    }
    .block1 {
      margin-right: 5px;
      position: relative;
      overflow: hidden;
    }
  }
  .category {
    margin: 0 5px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 0;
    position: relative;
  }
}
// product-info
.product-info{
  position: relative;
  .motog-desc {
    background: #fff;
    padding: 1em;
    .product-img{
      position: absolute;
      height: 30px;
      width: 30px;
      padding: 4px 5px;
      border-radius: 50%;
      background: #d8d8d7;
      color: #fff;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      top: 30px;
    }
    .details {
      padding-left: 40px;
      color: #323c3f;
      p{
        margin: 0;
        font-size: 12px;
      }
      p.name{
        font-size: 20px;
        font-weight: 800;
      }
    }
  }
  figure {
    margin: 5px;
    border-radius: 3px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .product{
    position: relative;
    background: #fff;
    margin: 5px;
    padding: 1em;
    border-radius: 3px;
    color: #6d6d74;
    line-height: 20px;
    p{
      margin: 0;
    }
    p.name {
      font-size: 16px;
      font-weight: 800;
      color: #323c3f;
    }
    p.price {
      font-weight: 600;
      color: #323c3f;
    }
  }
  .auto-manual {
    position: relative;
    background: #fff;
    border-radius: 3px;
    padding: 1em;
    margin: 5px;
    height: 180px;
    hr{
      margin: 5px;
      position: absolute;
      top: 25px;
      border-top: 2px solid #eee;
      width: 100%;
      left: -5px;
    }
    .btn-number {
      background: url("../img/icons/qty-minus.png");
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      height: 30px;
      width: 30px;
      text-align: center;
      margin-top: 3px;
      outline: none;
    }
    input{
      width: 70px !important;
      margin: 0 5px;
      border-radius: 10px;
      border: solid 2px #c1c1c1;
      padding: 0 10px;
      height: 35px;
      vertical-align: top;
      outline: none;
    }
    .plus{
      background: url("../img/icons/qty-plus.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bar-code {
      height: 30px;
      width: 30px;
      text-align: left;
      margin-top: 3px;
      outline: none;
      border: solid 1px #c1c1c1;
      border-radius: 100%;
      background: none;
      overflow: hidden;
      padding: 0 4px;
      i{
        font-size: 18px;
      }
    }
  }
  .main.cart-amount{
    i.icon{
      font-size: 18px;
    }
  }
  .specification, .description, .offer, .serial-nos, .faq, .view-more.content {
    margin: 5px;
  }
  .title {
    position: relative;
    background: #c5c5c5;
    padding: 1em;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
  }
  .content {
    margin: 0;
    background: #fff;
    padding: 1em;
    font-size: 14px;
    border-radius: 3px;
  }
  .view-more.content{
    font-weight: 600;
    background-image: url("../img/icons/pdf.png");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 30px;
  }
  .serial-nos{
    .title{
      overflow: hidden;
      margin: 2px 0;
    }
    .panel-collapse{
      padding: 1em;
      font-size: 14px;
      background: #fff;
      border-radius: 3px;
    }
    .sr-table {
      display: table;
      width: 100%;
      padding: 5px 0;
      div {
        display: table-cell;
        font-weight: 600;
      }
      .qty {
        vertical-align: middle;
      }
    }
  }
  .offer{
    position: relative;
    .title{
      background-image: url("../img/icons/new.png");
      background-repeat: no-repeat;
      background-position: right 15px top;
      background-size: 30px;
    }
  }
  .faq{
    position: relative;
    .faq-title{
      padding: 1em;
      position: relative;
      overflow: hidden;
      border: none;
      margin: 2px 0px;
      background: #fff;
      border-radius: 3px;
      span.q-no {
        font-weight: 800;
        display: inline-block;
        padding-right: 10px;
      }
    }
    .panel-collapse{
      padding: 1em;
      font-size: 14px;
      background: #fff;
      border-radius: 3px;
    }
    .faq-q {
      font-size: 14px;
      color: #323c3f;
      font-weight: 600;
      white-space: nowrap;
    }
    .faq-ques{
      margin: 0;
      border: none;
      box-shadow: none;
      background: none;
    }
  }
  .panel{
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
  }
  a{
    color: #323c3f;
  }
}
// bank payment
.bank-payment {
  position: relative;
  .item {
    position: relative;
    margin: 5px;
    overflow: hidden;
    a {
      display: block;
      background: #fff;
      padding: 1em;
      color: #323c3f;
      font-size: 14px;
      font-weight: 600;
    }
    i{
      font-size: 16px;
    }
  }
  .content.bank-payment{
    .item.panel{
      background: none;
    }
    .title{
    //  background: red;
      a{
        min-height: auto;
        padding: 0;
        background: #c5c5c5;
      }
      .text{
        left: 0;
        top: 0;
      }
      .right-icon{
        position: relative;
        text-align: right;
        top: -5px;
      }
    }
    .body{
      padding: 0;
      .transfer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #ffb612;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        margin: 0 -5px;
        height: 50px;
        padding: 15px 0;
      }
    }
  }
  .avail-bal {
    padding: 1em;
    font-size: 14px;
  }
  .refresh {
    padding: 0.5em 1em;
    background: #ffb612;
    font-weight: 600;
    font-size: 14px;
    i{
    //  top: -5px;
      position: relative;
      font-size: 16px;
    }
  }
  &.mini-stmt{
    padding: 5px;
    .title{
      background: #c5c5c5;
      padding: 10px;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 600;
    }
    .content {
      margin: 1px;
      padding: 10px;
      background: #fff;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 600;
      i{
        font-size: 16px;
      }
    }
  }
  .select-status {
    position: relative;
    display: table;
    width: 100%;
    background: #c5c5c5;
    font-weight: 600;
    div {
      display: table-cell;
      vertical-align: middle;
      padding: 1em;
      text-align: center;
      font-size: 12px;
    }
    .active{
      background: #ffb612;
    }
  }
}
// GD
.sv-upload-pic {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 40px 0;
  background: #fff;
  div {
    display: inline-block;
    position: relative;
    width: 45%;
    height: 120px;
  }
  img{
    width: 100%;
    height: 120px;
    border: solid #b1b1b8;
  }
  .cross-icon {
    position: absolute;
    top: -5px;
    right: -10px;
  }
  .add-new-img {
    border: solid;
    color: #b1b1b8;
    max-height: 236px;
  }
  p{
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 600;
  }
  p.icons {
    bottom: 20px;
    i{
      font-size: 50px;
    }
  }
  p.text {
    font-size: 14px;
    white-space: nowrap;
    bottom: 0;
  }
  figcaption {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
//test css
.item{
  overflow: hidden;
  position: relative;
  a{
    color: #323c3f;
    display: block;
  }
}
.itm-title {
  display: table;
  width: 100%;
  position: relative;
  > div {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 15px 0;
  }
  div[class$="icon"] {
    position: relative;
    width: 16.66667%;
    text-align: center;
    overflow: hidden;
    a{
      white-space: nowrap;
    }
    i{
      font-size: 16px;
    }
    i.barcode-eye{
      color: #656870;
    }
  }
  .center-icon.rupee-cart{
    text-align: left !important;
    position: relative;
    overflow: hidden;
    min-width: 53px;
    font-size: 10px;
    i{
      font-size: 12px;
      color: #bfbebe;
    }
    i.sm-box-error{
      color: #ef3e0f;
    }
  }
  .product-img {
    position: relative;
    height: 30px;
    width: 30px;
    padding: 4px 5px;
    border-radius: 50%;
    background: #d8d8d7;
    color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    i{
      font-size: 16px;
    }
  }
  .product {
    width: 75%;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 800;
    color: #323c3f;
    letter-spacing: 0.5px;
    p{
      margin: 0;
    }
    p.price, p.category{
      font-size: 9px;
    }
    p.price{
      font-weight: 600;
      white-space: nowrap;
    }
    p.category{
      color: #6d6d74;
      font-weight: 400;
      line-height: 10px;
      white-space: nowrap;
    }
    p.name{
      line-height: 13px;
    }
  }
  .title {
    font-size: 14px;
    font-weight: 600;
  }
  .acrdn{
    position: relative;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 13px 0;
    .inner-acrdn {
      display: table !important;
      width: 100%;
      .icon-img{
        width: 22px;
      }
      > div {
        display: table-cell;
        padding-left: 10px;
        vertical-align: middle;
      }
    }
  }
}
// auto manual card for product
.auto-manual-card {
  position: relative;
  background: initial;
  height: 100px;
  padding: 0 20px;
  .add-quantity {
    display: table;
    margin-top: 5px;
    width: 100%;
    div{
      display: table-cell;
    }
    .select-quantity{
      position: relative;
      width: 160px;
      .input-qty {
        position: absolute;
        right: 30px;
      }
      button.btn-number {
        background: url("../img/icons/qty-minus.png");
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        height: 30px;
        width: 30px;
        text-align: center;
        margin-top: 3px;
        outline: none;
      }
    }
    .total-amt{
      text-align: right;
    }
  }
  .tabs {
    list-style: none;
    position: absolute;
    text-align: left;
    top: -16px;
    width: 100%;
  }
  .tabs li {
    float: left;
    display: block;
  }
  .tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
  }
  .tabs{
    label {
      display: block;
      padding: 5px;
      border-radius: 35px 0 0 35px;
      font-size: 10px;
      font-weight: normal;
      background: #d3d3d3;
      position: relative;
      left: -30px;
      width: 60px;
      text-align: center;
    }
    label.manual{
      border-radius: 0 35px 35px 0;
    }
    label.auto{
      border-radius: 35px 0 0 35px;
    }
    .tab-content {
    //  z-index: 2;
      display: none;
      overflow: hidden;
      font-size: 17px;
      line-height: 25px;
      padding: 0;
      position: absolute;
    }
  }
  .tabs [id^="tab"]:checked + label {
    background: #ffc74a;
  }
  .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: table;
    vertical-align: middle;
    width: 100%;
    left: 0;
  }
  &.only{
    .tabs{
      label{
        display: none;
      }
      .tab-content{
        padding: 20px 10px;
      }
    }
  }
}
// bottom content link to sms,print, sms and thank you msg
.btm-content{
  position: absolute;
  width: 100%;
  bottom: 0px;
}
//login-page
.login-page{
  position: relative;
  background-color : map-get($colors, brand);
  text-align: center;
  height: 100%;
  .brand-logo {
    color: #fff;
    padding: 50px 0;
    img{
      height: 50px;
      width: auto;
    }
  }
  .language{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    background-image: url('../img/flags/england.png');
    background-size: 40px;
    background-position: center;
    border: solid #fff;
    border-radius: 50%;
    a{
      display: block;
    }
  }
  .white-bg{
    background: #fff;
  }
  .login{
    .input-group {
      width: 100%;
      background: #ffcc58;
      padding: 10px;
      text-align: center;
      i{
        font-size: 16px;
      }
      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #3f3f3f;
        font-weight: 800;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #3f3f3f;
        opacity:  1;
        font-weight: 800;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #3f3f3f;
        opacity:  1;
        font-weight: 800;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #3f3f3f;
        font-weight: 800;
      }
    }
    .white-bg{
      background: #fff;
    }
    input {
      background: none;
      border: none;
      padding: 20px 10px 20px 40px;
      outline: none;
    }
    a{
      display: block;
      padding: 20px;
      color: #3f3f3f;
    }
    button{
      display: block;
      margin: 0 auto;
      background: #fff;
      border: none;
      padding: 10px 50px;
      font-size: 20px;
      font-weight: 800;
      color: #3f3f3f;
    }
    .username{
      &:before{
        position: absolute;
        content: '';
        background-image: url("../img/icons/username.png");
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: left center;
        height: 50px;
        width: 20px;
      }
    }
    .password{
      &:before{
        position: absolute;
        content: '';
        background-image: url("../img/icons/lock.png");
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: left center;
        height: 50px;
        width: 20px;
      }
      &:after{
        position: absolute;
        content: '';
        background-image: url("../img/icons/eye.png");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: right center;
        height: 50px;
        width: 20px;
      }
    }
  }
  footer{
    .logo{
      padding-top: 10px;
      padding-bottom: 30px;
      color: #323c3f;
      img{
        height: 25px;
        width: auto;
      }
    }
  }
}

// Added by Sourabh Sir
.login-footer {
 position: absolute;
 bottom: 0;
 padding-left: 30%;
}

/*****NEW CSS CODE******/
.content.task .single-task .req-id {
  width: 33%;
}
// 14-jun
.search-area.fix-search {
  top: 50px;
}
.padding-bottom-10 {
  padding-bottom:10px;
}
.dashboard .product-chart {
  padding:10px;
}
.dashboard .product-chart table {
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
.dashboard .product-chart td {
  font-size:17px;
  padding:5px;
  width:45%;
}
.dashboard .product-chart .chart-bullet {
  color:#7f7f84;
}
.dotted-line {
  position:relative;
  width:100%;
  height:5px;
  border-bottom:1px dashed black;
  margin:15px 0;
}
.dashboard-title {
//  top:22px !important;
}

.sync i.icon.cross.big {
  right:9px !important;
}

.top-20 {
  top:20px !important;
}

.form-comment {
  color: inherit !important;
  border:0 !important;
  font-style: italic;
}

.margin-bottom-50 {
  margin-bottom:50px !important;
}

.add-org-green-tick {
  position: absolute;
  right: 15px;
  top: 8px;
}
.margin-right-10 {
 margin-right:10px;
}

.task-filter-box {
   display: block;
   height: 20px;
   overflow: hidden;
   text-transform: uppercase;
   text-align: left;
   padding-left:5px;
}

.task-filter-box.tall {
   height: 35px;
}

.sort-task.tall {
 height:65px;
}

// change reatiler modal
.change-retailer{
  border-top: solid 1px #dsdd;
  background: #fafafa;
  font-size: 14px;
  .title {
    padding: 10px 20px;
    background-color: initial;
    border-bottom: solid 1px #ddd;
    p{
      margin: 0;
    }
  }
  .description {
    position: relative;
    padding: 10px 20px;
    i{
      font-size: 16px;
    }
  }
}
// confirm change-retailer
.modal-content{
  .confirm-msg {
    position: relative;
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }
  .confirm {
    position: relative;
    display: table;
    width: 101%;
    color: map-get($colors, text);
    a{
      display: table-cell;
      padding: 10px 0;
      text-align: center;
      color: map-get($colors, text);
      font-weight: 600;
      font-size: 14px;
    }
    .no{
      background-color: #fbd200;
    }
    .yes{
      background-color: #fcc000;
    }
  }
}
// cvv icons
.cvv-icon{
  display: inline-block;
  background-image: url("../img/icons/cvv.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
  vertical-align: top;
  background-size: 30px;
  position: absolute;
  right: 80px;
}
//download-bar
.download-bar {
  padding: 10px 20px;
  background: #ffb612;
  font-size: 12px;
}
.item.cr-limit {
  padding: 10px 20px;
  font-size: 14px;
}
// target-vs-achievement
.tvsa{
  .sales-target {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background: #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div{
      position: relative;
      overflow: hidden;
      height: 50px;
      display: flex;
      align-items: center;
    }
    .left, .right{
      width: 60px;
    }
    .left{
      padding-left: 20px;
    }
    a{
      color: #323c3f;
    }
    i{
      font-size: 16px;
    }
  }
  .search-area{
    margin: 5px 0;
  }
  .pro-box{
    margin: 5px;
  }
  .achievement {
    position: relative;
    background: #fff;
    text-align: center;
    margin: 5px;
    &.revenue{
      padding: 20px 10px;
    }
    img {
      width: 50%;
      height: auto;
      padding: 30px 0px;
    }
    p {
      font-size: 12px;
      font-weight: 600;
    }
    p.current {
      font-size: 30px !important;
    }
    .detail {
      position: relative;
      font-size: 14px;
      font-weight: 600;
      text-align: left;
      border-top: dashed 2px #c3c7cf;
      padding: 10px 20px;
      overflow: hidden;
      a{
        color: #323c3f;
      }
      i{
        font-size: 16px;
      }
    }
    .achievement-details {
      position: relative;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      div{
        position: relative;
        display: flex;
        align-items: center;
        width: 48%;
        height: 40px;
        border-radius: 40px;
        padding: 5px;
        padding-left: 50px;
        font-size: 14px;
        text-align: left;
        line-height: 20px;
      }
      .current {
        border: solid 1px #42b03a;
      }
      .forecast {
        border: solid 1px #fed477;
        vertical-align: middle;
        text-align: center;
        span.tick{
          background: #fed477;
        }
      }
      span.tick {
        position: absolute;
        left: 5px;
        top: 5px;
        display: inline-block;
        background: #42b03a;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        padding: 5px 0;
        i{
          color: #fff;
          font-size: 16px;
          font-weight: 800;
        }
      }
    }
  }
  .title {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    background: #c5c5c5;
    margin: 5px;
  }
  span.percentage {
    display: block;
    border: solid 1px #c3c7cf;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 14px;
    padding: 10px 0;
  }
  .target {
    background: #fff;
    text-align: center;
    padding: 20px;
    p{
      font-size: 20px;
      margin: 0;
    }
    span{
      display: inline-block;
      text-align: right;
      border-radius: 30px;
      padding: 8px;
      font-size: 18px;
    }
    span.complete {
      width: 61%;
      background: #fed477;
    }
    span.pending {
      width: 39%;
    }
    p.amt {
      font-size: 36px;
      font-weight: 600;
    }
    .progress {
      height: 50px;
      width: 100%;
      margin: 10px 0;
      background: #d2d2d2;
      border-radius: 30px;
      padding: 5px;
    }
  }
  .sub-menu ul li a{
    padding: 10px 40px;
  }
  .right-icon.achieved-product{
    width: 90px;
    font-size: 18px;
    padding-right: 20px;
  }
  p.category.tvsa{
    font-size: 16px;
    padding-top: 10px;
  }
  .product-img.text{
    color: #24bd97;
    border: solid 5px;
    font-size: 14px;
    font-weight: 900;
    padding: 0px 0px 0px 5px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 50%;
    }
  }
}
// settings
ul.setting {
  position: relative;
  list-style: none;
  padding: 0;
  font-size: 14px;
  background: #fafafa;
  li{
    border-bottom: solid 1px #e0e1e2;
    padding: 1em;
    position: relative;
    overflow: hidden;
    a{
      display: block;
      color: #323c3f;
    }
    .icon{
      float: right;
      font-size: 16px;
    }
    .update {
      display: inline-block;
      float: right;
      border: solid 2px #ffb612;
      border-radius: 15px;
      padding: 1px 10px;
      font-size: 12px;
      margin: 0;
    }
    .version{
      display: inline-block;
      float: right;
      color: #b1b1b8;
    }
    &.tick.active{
      i.icon{
        color: #24bd97;
      }
    }
  }
}
// change password
form.change-pass {
  position: relative;
  background: #fff;
  margin: 5px;
  padding: 1em;
  font-size: 14px;
  font-style: italic;
  input{
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 1px #e4e6e6;
  }
  div[class$="-pass"]{
    position: relative;
    i{
      position: absolute;
      right: 0;
      top: 10px;
      font-size: 16px;
    }
  }
}

// feedback
form.feedback{
  @extend form.change-pass;
  textarea{
    width: 100%;
    border: none;
    background: transparent;
    resize: none;
    min-height: 180px;
    outline: none;
  }
}
// sort task
td.day.active.today {
  background-color: #ffb612;
  color: #fff;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
  background-color: #ffb612;
  color: #fff!important;
  text-shadow: none;
}
.bootstrap-datetimepicker-widget table td.day{
  line-height: 30px;
  border-radius: 50%;
}
//about
.about {
  position: relative;
  background: #fff;
  padding: 20px;
  margin: 5px;
  text-align: center;
  color: #858788;
  h1.snoc{
    margin: 0;
    color: #323c3f;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px;
  }
  p.powered-by {
    margin: 10px 0 0 0;
  }
  img{
    width: 50%;
    height: auto;
    margin-bottom: 30px;
  }
  p.version {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .about-snoc {
    position: relative;
    text-align: left;
    font-size: 16px;
  }
}
.left0{
  left: 0 !important;
}
// profile setting
.profile-setting {
  position: relative;
  margin: 5px;
  > div {
    background: #fff;
    padding: 20px;
    margin: 5px 0;
  }
  .upload-pic {
    text-align: center;
    color: #7c8595;
    background: #fafafa;
    padding: 5px 0;
    p{
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
  .user-pic {
    position: relative;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border: solid 2px #b1b1b8;
    border-radius: 50%;
    padding: 10px 0;
    background: #fff;
    i{
      font-size: 40px;
      color: #d9d8d8;
    }
  }
  .user-details {
    position: relative;
    font-size: 20px;
    font-style: italic;
    input{
      width: 100%;
      border-bottom: solid 1px #e4e6e6;
      padding: 10px 0;
      font-size: 14px;
    }
  }
  .add-warehouse {
    position: relative;
    background: #ffc74a !important;
    font-size: 14px;
    font-weight: 600;
    padding: 1em;
    display: flex;
    .location-details {
      width: 80%;
      padding: 20px;
    }
    .location-icon{
      display: flex;
      width: 20%;
      align-items: center;
      padding-left: 20px;
    }
    i{
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 16px;
    }
  }
}
.setting-faq{
  margin: 5px;
  .panel{
    margin: 0;
  }
  .ques{

  }
  .title{
    position: relative;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 1em;
    overflow: hidden;
    border-radius: 4px;
    margin: 2px 0;
    a{
      display: block;
      color: #323c3f;
    }
    i{
      font-size: 16px;
    }
  }
  .body {
    position: relative;
    background: #fff;
    padding: 1em;
    font-size: 14px;
    min-height: 80px;
    border-radius: 4px;
  }
  span.no {
    font-weight: 800;
    display: inline-block;
    padding-right: 10px;
  }
}
.shop-image {
  position: relative;
  margin-top: 5px;
  img {
    width: 100%;
    height: auto;
  }
}
p.org {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.item.jd{
  .title{
    min-height: 60px;
  }
  p{
    font-size: 14px;
  }
  p.title{
    font-weight: 800;
    padding: 10px 20px;
    margin: 0;
    min-height: auto;
  }
  p.desc{
    padding: 0 20px;
    font-weight: 400;
  }
}
#link-sucess {
  position: fixed;
  top: 0;
  background: #fff;
  width: calc(100% - 20px);
  margin: 10px;
  z-index: 999;
  display: none;
  align-items: center;
  border-radius: 4px;
  padding: 10px 0;
  .icon {
    padding: 10px;
    color: #24bd97;
    i{
      font-size: 25px;
    }
  }
  .msg{
    p{
      margin: 0;
      font-size: 20px;
    }
    p.org-name, p.position{
      font-size: 14px;
    }
  }
}
// setting support
.group.panel > .title {
  background: #c5c5c5;
  overflow: hidden;
  position: relative;
}
//pi - vs
.faq-q {
  font-size: 14px;
  font-weight: 600;
  vertical-align: bottom;
  i{
    font-size: 16px;
    margin-left: 10px;
  }
}
//iv-greentea-pi
.greeentea-des {
  position: relative;
  p{
    margin: 1px 0;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
    padding-right: 20px;
  }
}
