/* offline google fonts - lato - start */
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(../fonts/Lato-Hairline-latin-ext-100.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(../fonts/Lato-Hairline-latin-100.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(../fonts/Lato-Light-latin-ext-300.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(../fonts/Lato-Light-latin-300.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(../fonts/Lato-Regular-latin-ext-400.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(../fonts/Lato-Regular-latin-400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(../fonts/Lato-Bold-latin-ext-700.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(../fonts/Lato-Bold-latin-700.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(../fonts/Lato-Black-latin-ext-900.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(../fonts/Lato-Black-latin-900.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url(../fonts/Lato-HairlineItalic-latin-ext-100.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url(../fonts/Lato-HairlineItalic-latin-100.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url(../fonts/Lato-LightItalic-latin-ext-300.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url(../fonts/Lato-LightItalic-latin-300.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url(../fonts/Lato-Italic-latin-ext-400.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url(../fonts/Lato-Italic-latin-400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url(../fonts/Lato-BoldItalic-latin-ext-700.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url(../fonts/Lato-BoldItalic-latin-700.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url(../fonts/Lato-BlackItalic-latin-ext-900.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url(../fonts/Lato-BlackItalic-latin-900.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* offline google fonts - lato - end */
/* @font-face {
  font-family: 'fontIcon';
  src:url(../fonts/Enhancesys-Icons.ttf);
} */
@font-face {
  font-family: 'fontIcon';
  src: url("../fonts/icon/enhancesys-icons-webfont.eot") format("embedded-opentype");
  /* IE9 + later */
  src: url("../fonts/icon/enhancesys-icons-webfont.woff2") format("woff2"), url("../fonts/icon/enhancesys-icons-webfont.woff") format("woff"), url("../fonts/icon/enhancesys-icons-webfont.ttf") format("truetype"), url("../fonts/icon/enhancesys-icons-webfont.svg") format("svg"); }
i.icon {
  font-family: 'fontIcon';
  font-style: normal;
  font-size: 25px;
  font-weight: 300;
  background-image: none;
  text-transform: none !important; }
  i.icon.back:before {
    content: 'D'; }
  i.icon.menu:before {
    content: 'B'; }
  i.icon.lock:before {
    content: 'v'; }
  i.icon.survey:before {
    content: 'b'; }
  i.icon.notification:before {
    content: 'G'; }
  i.icon.download:before {
    content: 'i'; }
  i.icon.upload:before {
    content: 'h'; }
  i.icon.add-contact:before {
    content: ':'; }
  i.icon.sms:before {
    content: 'f'; }
  i.icon.print:before {
    content: 'e'; }
  i.icon.whatsapp:before {
    content: 'P'; }
  i.icon.call:before {
    content: 'N'; }
  i.icon.mail:before {
    content: 'd'; }
  i.icon.location:before {
    content: 'O'; }
  i.icon.camera:before {
    content: '~'; }
  i.icon.tag:before {
    content: '{'; }
  i.icon.cart:before {
    content: 'J'; }
  i.icon.arrow:before {
    content: 'M'; }
  i.icon.search:before {
    content: 'F'; }
  i.icon.barcode:before {
    content: 'L'; }
  i.icon.barcode-eye:before {
    content: '@'; }
  i.icon.eye:before {
    content: '?'; }
  i.icon.aim:before {
    content: '7'; }
  i.icon.arrow-right:before {
    content: 'E'; }
  i.icon.arrow-up {
    display: inline-block;
    transform: rotate(-90deg); }
    i.icon.arrow-up:before {
      content: 'E'; }
  i.icon.arrow-down {
    display: inline-block;
    transform: rotate(90deg); }
    i.icon.arrow-down:before {
      content: 'E'; }
  i.icon.up-arrow {
    display: inline-block;
    transform: rotate(-90deg); }
    i.icon.up-arrow:before {
      content: 'M'; }
  i.icon.down-arrow {
    display: inline-block;
    transform: rotate(90deg); }
    i.icon.down-arrow:before {
      content: 'M'; }
  i.icon.field-agent:before {
    content: ']'; }
  i.icon.dealer:before {
    content: '^'; }
  i.icon.distributor:before {
    content: '_'; }
  i.icon.retailer:before {
    content: 'Z'; }
  i.icon.quick:before {
    content: 'C'; }
  i.icon.food:before {
    content: 'Q'; }
  i.icon.mobile:before {
    content: 'S'; }
  i.icon.laptop:before {
    content: 'T'; }
  i.icon.toiletries:before {
    content: 'R'; }
  i.icon.rupee:before {
    content: '/'; }
  i.icon.flash-off:before {
    content: '='; }
  i.icon.flash-on:before {
    content: '>'; }
  i.icon.focus:before {
    content: '<'; }
  i.icon.sucess:before {
    content: 'n'; }
  i.icon.reload:before {
    content: 'o'; }
  i.icon.cross:before {
    content: 'A'; }
  i.icon.discount:before {
    content: '|'; }
  i.icon.audit:before {
    content: 'a'; }
  i.icon.calc:before {
    content: '}'; }
  i.icon.box:before {
    content: 'I'; }
  i.icon.box-in:before {
    content: '1'; }
  i.icon.box-out:before {
    content: '2'; }
  i.icon.edit:before {
    content: '-'; }
  i.icon.plus:before {
    content: '5'; }
  i.icon.minus:before {
    content: '6'; }
  i.icon.setting:before {
    content: 'y'; }
  i.icon.task:before {
    content: 'r'; }
  i.icon.error:before {
    content: 'l'; }
  i.icon.threeg:before {
    content: 'k'; }
  i.icon.twog:before {
    content: 'j'; }
  i.icon.date:before {
    content: 't'; }
  i.icon.category:before {
    content: 's'; }
  i.icon.status:before {
    content: ','; }
  i.icon.redu:before {
    content: 'Y'; }
  i.icon.warehouse:before {
    content: '+'; }
  i.icon.house:before {
    content: 'z'; }
  i.icon.recapture:before {
    content: '*'; }
  i.icon.locatemap:before {
    content: ')'; }
  i.icon.beat:before {
    content: 'x'; }
  i.icon.wave:before {
    content: '('; }
  i.icon.audit-success:before {
    content: 'c'; }
  i.icon.audit-error:before {
    content: '.'; }
  i.icon.sm-box:before {
    content: 'K'; }
  i.icon.sm-box-error:before {
    content: 'q'; }
  i.icon.images:before {
    content: '0'; }
  i.icon.rect:before {
    content: 'T'; }
  i.icon.tick:before {
    content: 'H'; }
  i.icon.info:before {
    content: '4';
    font-size: 26px;
    position: absolute;
    top: -9px;
    left: -4px; }

.cross-icon {
  position: relative;
  background: #d8d8d7;
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 100%; }
  .cross-icon i {
    color: #fff;
    font-size: 12px !important;
    position: absolute;
    top: 1.5px;
    right: 4px; }

.info-icon {
  display: inline-block;
  position: relative;
  border: solid 2px #ffb612;
  height: 23px;
  width: 23px;
  border-radius: 100%; }

body {
  background-color: #d8d8d7;
  font-family: "Lato", sans-serif; }

.main-container {
  position: relative;
  min-height: calc(100vh - 50px);
  padding: 50px 0;
  overflow: auto; }
  .main-container.task {
    min-height: calc(100vh - 150px); }

input {
  border: none;
  box-shadow: none;
  outline: none; }
  input:focus, input:active {
    box-shadow: none;
    outline: none; }

.no-border {
  border: none !important; }

.no-bg {
  background: none !important; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.mh60 {
  min-height: 60px; }

.top20 {
  top: 20px !important; }

.white-bg {
  background: #fff !important;
  border-radius: 3px; }

.nowrap {
  white-space: nowrap; }

.fixed {
  position: fixed !important; }

.transparent {
  background: transparent !important; }

.collapse-link, a {
  text-decoration: none; }
  .collapse-link:hover, .collapse-link:focus, .collapse-link:active, a:hover, a:focus, a:active {
    text-decoration: none; }

.p10 {
  padding: 10px 0; }

.p15 {
  padding: 15px 0; }

.pt7 {
  padding-top: 7px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pt0 {
  padding-top: 0 !important; }

.mr15 {
  margin-right: 15px !important; }

.mt10 {
  margin-top: 10px; }

.fs18 {
  font-size: 18px; }

.tl0 {
  top: 0 !important;
  left: 0 !important; }

.rt10 {
  position: absolute;
  right: 10px;
  top: 10px; }

.top10 {
  position: relative;
  top: 10px; }

.ink {
  display: block;
  position: absolute;
  background: #d3d3d3;
  border-radius: 100%;
  transform: scale(0); }

/*animation effect*/
.ink.animate {
  animation: ripple 0.65s linear; }

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }
.top-navigation {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #ffb612;
  height: 50px;
  font-weight: 800;
  color: #323c3f;
  width: 100%;
  z-index: 2; }
  .top-navigation .nav-title {
    display: flex;
    align-items: center; }
    .top-navigation .nav-title .icon {
      position: relative;
      overflow: hidden;
      text-align: center; }
      .top-navigation .nav-title .icon.language {
        background-image: url("../img/icons/language.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px; }
    .top-navigation .nav-title a {
      display: block;
      height: 50px;
      width: 50px;
      padding: 13px 0; }
    .top-navigation .nav-title .page-title {
      position: absolute;
      top: 16px;
      line-height: 15px;
      font-size: 12px;
      left: 45px;
      letter-spacing: 1px; }
  .top-navigation .nav-icons {
    position: relative;
    overflow: hidden;
    background: #ffc74a;
    display: flex;
    justify-content: space-between; }
    .top-navigation .nav-icons > div {
      position: relative;
      overflow: hidden;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .top-navigation .nav-icons > div.sync-active {
        width: auto;
        padding: 0 30px; }
      .top-navigation .nav-icons > div i.threeg {
        margin-right: 10px; }
    .top-navigation .nav-icons .second {
      margin-left: -20px !important; }
  .top-navigation a {
    color: #323c3f; }
  .top-navigation i {
    font-weight: 300;
    font-size: 16px; }
  .top-navigation .notification-no, .top-navigation .pi-cart-no {
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 15px !important;
    background: #ef3e0f;
    border-radius: 100%;
    top: 10px !important;
    right: 10px;
    padding: 0px 4px;
    font-size: 10px;
    color: #fff !important;
    font-weight: 400;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .top-navigation .pull-right {
    position: relative;
    background-color: #ffc74a;
    display: flex;
    justify-content: space-between;
    overflow: hidden; }
  .top-navigation small {
    font-weight: 600; }

.select-retailer {
  background-color: #edecec;
  border-bottom: solid 1px #d8d8d7;
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 600; }
  .select-retailer span {
    width: 40%;
    display: inline-block;
    height: 30px;
    padding: 9px 0;
    border-radius: 100px;
    font-size: 10px; }
  .select-retailer i {
    font-size: 20px;
    margin: 0px 10px; }
  .select-retailer .cta-bg {
    background: #ffc74a; }
  .select-retailer .dark-bg {
    background-color: #d3d3d3; }

.search-area {
  position: relative;
  width: 100%;
  height: 45px;
  background: #fff;
  text-align: center;
  padding: 3px 10px; }
  .search-area.fix-search {
    position: fixed;
    top: 50px;
    z-index: 99; }
  .search-area i {
    color: #7c8595; }
  .search-area i.search {
    font-size: 16px;
    padding-top: 9px; }
  .search-area i.barcode {
    font-size: 21px;
    padding: 3px 0px 0px 5px; }
  .search-area i {
    vertical-align: top;
    display: inline-block; }
  .search-area .form-control {
    vertical-align: top; }
  .search-area input {
    width: 80%;
    display: inline-block;
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    font-size: 11px;
    min-width: 220px;
    font-style: italic;
    text-align: left;
    letter-spacing: 1.2px;
    padding: 0 10px; }
    .search-area input:focus {
      outline: none;
      box-shadow: none !important; }

.content {
  position: relative;
  margin-top: 5px; }
  .content .panel {
    background: none;
    border: none;
    box-shadow: none; }
  .content .item {
    position: relative;
    margin: 0 5px;
    background-color: #fff;
    margin-bottom: 6px;
    border-radius: 3px;
    overflow: hidden; }
    .content .item .title {
      position: relative;
      overflow: hidden; }
      .content .item .title a {
        display: block;
        color: #000;
        min-height: 60px; }
      .content .item .title .abc {
        display: table;
        padding: 0px 15px;
        width: 100%;
        vertical-align: middle; }
      .content .item .title .text {
        position: relative;
        left: 38px;
        display: table-cell;
        font-size: 14px;
        font-weight: 600;
        vertical-align: middle;
        letter-spacing: 0.5px;
        top: 10px; }
      .content .item .title .right-icons {
        position: relative;
        display: table;
        float: right; }
        .content .item .title .right-icons div {
          display: table-cell;
          vertical-align: middle; }
        .content .item .title .right-icons .barcode {
          min-width: 40px;
          color: #656870; }
          .content .item .title .right-icons .barcode i {
            font-size: 20px; }
        .content .item .title .right-icons .barcode2 {
          position: relative;
          padding: 0 10px 0 50px; }
          .content .item .title .right-icons .barcode2 i {
            font-size: 36px; }
        .content .item .title .right-icons .sm-box-error {
          color: #ef3e0f;
          font-size: 16px;
          display: inline-block;
          padding-top: 5px;
          padding-right: 5px; }
        .content .item .title .right-icons .sm-box {
          color: #bfbebe; }
      .content .item .title .right-icon {
        display: table-cell;
        vertical-align: middle;
        min-width: 60px;
        padding-top: 17px; }
        .content .item .title .right-icon .icon.audit-success {
          color: #bfbebe;
          font-size: 20px; }
        .content .item .title .right-icon .icon.sucess {
          color: #00ac78;
          font-size: 16px; }
      .content .item .title .arrow-right {
        background: none;
        font-size: 16px; }
      .content .item .title .item-icon, .content .item .title .item-img {
        position: absolute;
        height: 30px;
        width: 30px;
        display: table-cell;
        border-radius: 50%;
        background: #d8d8d7;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        top: 15px; }
        .content .item .title .item-icon i, .content .item .title .item-img i {
          font-size: 16px; }
      .content .item .title .item-img {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
      .content .item .title small {
        font-size: 80%;
        font-weight: 400; }
      .content .item .title .vt {
        vertical-align: top;
        line-height: 15px;
        top: 17px; }
      .content .item .title span.price {
        font-size: 13px;
        font-weight: 600;
        display: inline-block;
        padding-top: 5px;
        margin-bottom: -5px; }
      .content .item .title span.category {
        background: none;
        font-size: 13px;
        margin: 0;
        font-weight: 400;
        color: #6d6d74; }
      .content .item .title .fvt {
        font-weight: 800;
        vertical-align: top;
        line-height: 15px; }
    .content .item .next-page {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 20%;
      overflow: hidden; }
      .content .item .next-page i {
        color: #323c3f;
        font-size: 16px;
        padding-top: 5px; }
      .content .item .next-page a {
        display: block;
        height: 100%;
        padding: 15px 15px 0px 0; }
    .content .item .body {
      border-top: solid 1px #ddd;
      background: #fafafa;
      font-size: 16px; }
      .content .item .body .title {
        padding: 10px 20px;
        background-color: initial;
        border-bottom: solid 1px #ddd; }
        .content .item .body .title p {
          margin: 0;
          font-size: 11px; }
      .content .item .body .description {
        position: relative;
        padding: 10px 23px;
        font-size: 12px; }
        .content .item .body .description p:last-child {
          margin: 0; }
        .content .item .body .description .qty {
          text-align: center; }
        .content .item .body .description .btn-number {
          background: url("../img/icons/qty-minus.png");
          background-repeat: no-repeat;
          background-size: cover;
          border: none;
          height: 20px;
          width: 20px;
          text-align: center;
          margin-top: 3px;
          outline: none; }
        .content .item .body .description .plus {
          background: url("../img/icons/qty-plus.png");
          background-repeat: no-repeat;
          background-size: cover; }
        .content .item .body .description .bar-code {
          height: 20px;
          width: 20px;
          text-align: left;
          margin-top: 2px;
          outline: none;
          border: solid 1px #c1c1c1;
          border-radius: 100%;
          background: none;
          overflow: hidden;
          padding: 0 1px;
          position: relative; }
          .content .item .body .description .bar-code i {
            position: absolute;
            top: -7px;
            right: 6px;
            font-size: 10px; }
        .content .item .body .description input {
          width: 50px !important;
          margin: 0 5px;
          border-radius: 6px;
          border: solid 1px #c1c1c1;
          padding: 0 5px;
          height: 25px;
          vertical-align: top;
          outline: none;
          font-size: 10px;
          text-align: center; }
        .content .item .body .description .input-qty {
          padding: 0; }
        .content .item .body .description .total-amt .value {
          font-weight: 600;
          font-size: 12px;
          margin: 0; }
      .content .item .body i {
        font-size: 16px;
        padding-top: 4px; }
      .content .item .body .btn-bar {
        background: none;
        border: solid 2px #c1c1c1;
        border-radius: 100%;
        height: 35px;
        width: 35px;
        text-align: center; }
    .content .item .w80 {
      width: 80%; }
    .content .item .rupee-cart {
      color: #656870;
      min-width: 80px; }
      .content .item .rupee-cart i {
        font-size: 16px;
        color: #bfbebe; }
      .content .item .rupee-cart i.aim {
        font-size: 20px; }
    .content .item .download {
      color: #bfbebe; }

footer.bottom {
  position: fixed !important;
  display: table;
  bottom: 0;
  width: 100%;
  background: #ffb612;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.3px; }
  footer.bottom a {
    display: table-cell;
    height: 50px;
    text-align: center;
    position: relative;
    vertical-align: middle;
    color: #323c3f;
    width: 50%; }
  footer.bottom a#add-to-cart {
    position: absolute;
    width: 100%;
    padding-top: 15px; }
    footer.bottom a#add-to-cart .add {
      position: absolute;
      width: 100%;
      left: 0; }
    footer.bottom a#add-to-cart .added {
      position: absolute;
      width: 100%;
      right: -100%; }
  footer.bottom .slide .add {
    left: -100% !important;
    transition: all 1s; }
  footer.bottom .slide .added {
    right: 0 !important;
    transition: all 1.5s; }
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
  footer.bottom a.add {
    background: #ffc74a;
    width: 30%; }
  footer.bottom a.first {
    background: #ffc74a; }
  footer.bottom i {
    font-size: 16px; }

.add-to-cart-img {
  display: none;
  position: absolute;
  top: calc(50vh - 75px);
  right: calc(50vw - 75px);
  background: #ffb612;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  text-align: center;
  padding: 45px 0;
  color: #fff;
  border: solid; }
  .add-to-cart-img i {
    font-size: 40px; }
  .add-to-cart-img.slide {
    right: -30px;
    top: -60px;
    z-index: 999;
    transform: scale(0);
    transition: top 0.8s, right 0.8s, transform 1s; }

.scan-img {
  position: relative;
  background: url("../img/scan-1.png");
  height: 220px;
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  .scan-img i {
    color: #fff;
    font-size: 16px; }
  .scan-img .scan-nav {
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    text-transform: uppercase; }
    .scan-img .scan-nav i.back {
      font-size: 20px;
      margin-right: 10px; }
  .scan-img .scan-bottom {
    position: absolute;
    bottom: 0;
    right: 0; }
    .scan-img .scan-bottom a {
      display: inline-block;
      padding: 5px 20px; }
    .scan-img .scan-bottom .icon.flash-on {
      font-size: 22px; }

.scan-sr {
  position: relative;
  margin: 5px;
  text-align: center; }
  .scan-sr div {
    display: inline-block;
    background: #fff;
    min-height: 40px;
    border: solid 1px #d8d8d7;
    padding: 10px 10px 0 10px;
    font-size: 14px;
    background-image: none !important; }
  .scan-sr i {
    color: #cfcece;
    font-size: 16px; }
  .scan-sr .enter-sr {
    width: 100%;
    color: #7c8595;
    font-style: italic;
    text-align: center; }
    .scan-sr .enter-sr input {
      border: none;
      outline: none;
      text-align: center; }
  .scan-sr .reload {
    width: 50%;
    background-image: none; }
  .scan-sr .end-range {
    width: 50%;
    float: right;
    color: #c3c7cf; }

.green div {
  font-style: normal !important;
  color: #323c3f !important;
  font-weight: 600; }
.green i {
  color: #221f1f !important;
  font-size: 16px; }

.scan-barcode {
  position: relative;
  text-align: center;
  font-weight: 800;
  padding: 50px 0; }
  .scan-barcode img {
    width: 100px;
    height: auto; }
  .scan-barcode h4 {
    font-size: 18px;
    font-weight: 800;
    margin: 10px 0 0 0;
    letter-spacing: 2px; }
  .scan-barcode p {
    font-size: 14px;
    font-weight: 400; }

.modal-dialog {
  width: 90%; }

.modal-content {
  border: none;
  box-shadow: none; }
  .modal-content .header, .modal-content .footer {
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    font-size: 14px;
    background: #e4e2e2;
    border-bottom: solid 1px #c1c1c1; }
  .modal-content .footer {
    background: #ffb612;
    border: none; }
  .modal-content .body {
    padding: 30px;
    font-size: 16px; }
    .modal-content .body input {
      border: solid 1px #c1c1c1;
      padding: 5px;
      width: 100%;
      text-align: right;
      padding-right: 50px; }
    .modal-content .body #creditCardNo {
      padding-right: 60px; }
    .modal-content .body p {
      font-weight: 600;
      margin-bottom: 5px;
      font-size: 14px; }
  .modal-content .select-duration {
    padding: 10px 20px; }
    .modal-content .select-duration p {
      color: #b1b1b8;
      padding: 10px 0px;
      border-bottom: solid 2px #d9d8d8; }
      .modal-content .select-duration p i {
        margin-right: 10px; }
  .modal-content .select-reason {
    padding: 10px 20px; }
    .modal-content .select-reason p {
      color: #b1b1b8;
      padding: 10px 0px;
      border-bottom: solid 2px #d9d8d8; }
      .modal-content .select-reason p i {
        margin-right: 10px;
        font-size: 16px; }
  .modal-content .active {
    color: #323c3f !important;
    background: none; }
    .modal-content .active i {
      color: #24bd97; }

.cart-amount {
  background: #fff;
  margin: 5px;
  padding: 0px;
  border-radius: 3px; }
  .cart-amount .panal {
    border: none; }
  .cart-amount div {
    background-image: none !important; }
  .cart-amount a {
    min-height: auto !important; }
  .cart-amount .item {
    padding: 0; }
    .cart-amount .item p > i {
      margin-right: 10px; }
    .cart-amount .item span {
      text-align: right;
      min-width: 100px; }
    .cart-amount .item .title {
      padding: 20px 1em !important;
      font-size: 14px;
      font-weight: 800; }
      .cart-amount .item .title i {
        font-weight: 300;
        font-size: 18px; }
    .cart-amount .item .body {
      background: none;
      padding: 10px 1em;
      border: none;
      border-bottom: solid #e4e6e6 1px; }
      .cart-amount .item .body p {
        padding: 5px 0;
        font-weight: 600;
        font-size: 14px; }
  .cart-amount i.edit {
    font-size: 14px !important; }

.f-link {
  position: relative;
  display: table;
  background: #ffb612;
  padding: 0;
  width: 100%;
  text-align: left;
  color: #323c3f;
  font-size: 20px;
  font-weight: 600;
  bottom: 0;
  letter-spacing: 1.3px; }
  .f-link a {
    display: table-cell;
    text-align: center;
    position: relative;
    padding: 10px 0;
    color: #323c3f;
    width: 50%; }
  .f-link .first {
    background-color: #ffc74a;
    width: 35%; }

span.round-border {
  border: solid 1px #c1c1c1;
  padding: 2px 5px;
  border-radius: 10px;
  display: inline-block;
  width: 90px;
  text-align: right; }

.sales-payment .item {
  background: none; }
  .sales-payment .item .total-due {
    width: 100%;
    background-color: #fff !important;
    font-size: 16px;
    padding: 10px 20px !important; }
  .sales-payment .item .title {
    background-color: #c5c5c5;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 14px; }
  .sales-payment .item .body {
    background: none;
    padding: 0; }
    .sales-payment .item .body .payment-method {
      background: #fff;
      margin: 2px 0;
      border-radius: 1px;
      padding: 10px 20px;
      font-size: 14px; }
      .sales-payment .item .body .payment-method div {
        padding: 5px;
        font-size: 14px; }
      .sales-payment .item .body .payment-method span#creditMonth {
        width: 60px !important; }
      .sales-payment .item .body .payment-method span#creditYear {
        width: 60px !important; }
    .sales-payment .item .body .total {
      font-weight: 600; }
    .sales-payment .item .body input {
      width: 90px;
      border: solid 1px #c1c1c1;
      padding: 2px 10px;
      border-radius: 10px;
      text-align: right; }
      .sales-payment .item .body input#cvv {
        width: 60px;
        font-size: 14px; }

.summary {
  padding: 10px;
  background: #fff;
  background-image: url("../img/sucess-bg.png");
  background-repeat: no-repeat;
  background-size: 95px;
  background-position: top 5px right 10px;
  margin: 5px; }
  .summary .title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: dashed  #7f7f84 2px; }
    .summary .title h2 {
      margin: 10px 0;
      font-weight: 600;
      color: #323c3f;
      font-size: 20px; }
    .summary .title p {
      color: #7f7f84;
      letter-spacing: 3px;
      word-spacing: 10px;
      font-weight: 600; }
  .summary .ques {
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
    color: #323c3f; }
    .summary .ques div {
      display: inline-block; }
    .summary .ques .left {
      float: left;
      min-width: 80px;
      color: #7f7f84;
      text-transform: uppercase; }
  .summary .details {
    padding: 10px 0; }

/**********************************
******** Navigation Menu *********
**********************************/
#body {
  position: relative;
  overflow-y: scroll;
  background-color: #d8d8d7; }

#page {
  width: 100%;
  position: relative;
  top: 0;
  transition: all .3s ease;
  min-height: 100vh;
  background-color: #d8d8d7; }

.opened-menu {
  margin-left: 90% !important; }

.opened-notification {
  margin-left: -90% !important; }

.open-notification {
  margin-left: 10% !important; }

.full-block {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
  z-index: 9999; }

#menu {
  position: fixed;
  width: 90%;
  background: #d8d8d8;
  margin-left: -90%;
  height: 100%;
  transition: all .3s ease;
  background-color: #d8d8d7;
  overflow-y: scroll; }
  #menu .user-details {
    position: relative;
    display: table;
    width: 100%;
    background: #ffb612; }
    #menu .user-details div {
      display: table-cell;
      vertical-align: middle;
      height: 60px; }
    #menu .user-details .user-pic {
      width: 30px; }
      #menu .user-details .user-pic img {
        width: 40px;
        height: auto;
        margin-top: 5px;
        margin-left: 5px; }
    #menu .user-details .user-info {
      padding-left: 10px;
      font-size: 14px; }
      #menu .user-details .user-info .name {
        font-weight: 400; }
      #menu .user-details .user-info .position {
        font-weight: 600; }
  #menu .sub-menu {
    display: table;
    width: 100%;
    background: #f2f3f4;
    height: 50px;
    position: relative;
    border-bottom: solid 3px #fff;
    padding: 0 20px; }
    #menu .sub-menu:after {
      content: '';
      background: #323c3f;
      position: absolute;
      bottom: -3px;
      width: 45%;
      height: 3px;
      left: 0; }
    #menu .sub-menu div {
      display: table-cell;
      position: relative;
      font-size: 14px;
      font-weight: 600;
      vertical-align: middle; }
    #menu .sub-menu .threeg {
      text-align: right;
      color: #24bd97; }
      #menu .sub-menu .threeg i {
        font-size: 16px; }
  #menu ul.menu-item {
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: 15px; }
    #menu ul.menu-item li {
      border-bottom: solid 1px #acb1bb; }
      #menu ul.menu-item li a {
        display: block;
        padding: 10px 0;
        color: #323c3f;
        font-size: 12px; }
    #menu ul.menu-item li:last-child {
      border: none; }
  #menu .content {
    margin: 0; }
    #menu .content .item {
      margin: 1px 0;
      background-color: #f2f3f4;
      border-radius: 0; }
      #menu .content .item .title a {
        min-height: auto; }
      #menu .content .item .title .text {
        left: 0;
        padding: 10px 20px;
        color: #323c3f;
        text-transform: uppercase;
        top: 0;
        font-size: 12px; }
      #menu .content .item .title .abc {
        padding: 0; }
      #menu .content .item .title .right-icon {
        padding-right: 20px;
        width: 10px;
        padding-top: 5px; }
        #menu .content .item .title .right-icon i {
          font-size: 16px; }
      #menu .content .item .body {
        background-color: #d8d8d7;
        padding: 0 40px; }

.main-content {
  margin: 0; }
  .main-content .item {
    margin: 0; }
    .main-content .item .body {
      background-color: #d8d8d7; }
      .main-content .item .body .menu-item {
        padding: 0;
        list-style: none;
        margin: 0;
        font-size: 15px; }
        .main-content .item .body .menu-item li {
          padding: 10px 0; }

.open-menu {
  margin-left: 0 !important; }

.nav-drop-down .panel {
  border: none; }
.nav-drop-down .category {
  background: #f2f3f4;
  border-bottom: solid 1px #dee0e4;
  margin: 0px;
  border-radius: 0; }
  .nav-drop-down .category .category-title {
    margin: 0;
    padding: 10px 0; }
    .nav-drop-down .category .category-title a {
      min-height: 20px;
      width: 100%; }
    .nav-drop-down .category .category-title .item-text {
      font-weight: 400; }
.nav-drop-down a {
  height: 20px !important; }
.nav-drop-down .panel-collapse {
  background-color: #dee0e4; }
.nav-drop-down .category-body {
  margin: 0;
  padding: 0 20px; }
  .nav-drop-down .category-body li {
    padding: 10px;
    border-bottom: solid 1px #acb1bb; }

#notification {
  height: 100%;
  margin-left: 100%;
  position: fixed;
  top: 0;
  width: 90%;
  transition: all .3s ease;
  overflow-y: scroll;
  background-color: #d8d8d7; }
  #notification .sort-notification {
    position: relative;
    display: table;
    width: 100%; }
    #notification .sort-notification div {
      display: table-cell;
      margin: 0;
      background-color: #edecec;
      text-align: center;
      padding: 10px;
      border: solid 1px #d8d8d7; }
    #notification .sort-notification i {
      font-size: 20px;
      margin-right: 5px; }
  #notification .content .panel {
    border: none; }
  #notification .content .title {
    left: 0;
    min-height: auto;
    background: #c5c5c5; }
    #notification .content .title a {
      min-height: auto; }
    #notification .content .title .abc {
      padding: 0; }
    #notification .content .title .text {
      padding: 5px 10px;
      left: 0;
      height: auto; }
  #notification .content .body {
    background: #d8d8d7;
    padding: 0;
    font-size: 16px;
    font-weight: 600; }
    #notification .content .body .highlight {
      border-left: #ffb612 solid 5px;
      background-color: #f2f2f2; }
    #notification .content .body div {
      margin: 5px 0;
      padding: 20px 10px;
      background-color: #fff; }
    #notification .content .body .arrow-right {
      background-size: 7px;
      background-position: right 40px center; }
  #notification footer.bottom {
    overflow: hidden;
    width: 90%; }
    #notification footer.bottom a {
      width: 100%; }

#se-error {
  position: absolute;
  top: 10px;
  padding: 10px;
  background: #0d0905;
  width: calc(100% - 10px);
  margin: 0px 5px;
  font-size: 16px;
  background-image: url("../img/icons/error.png");
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 70px;
  padding-left: 105px;
  z-index: 999;
  color: #fff; }

.form-section {
  background: #fff;
  padding: 10px 20px;
  margin: 5px; }

.form-section input {
  width: 100%;
  border: none;
  border-bottom: solid 1px #d8d8d8;
  padding: 10px 0;
  font-size: 14px;
  font-style: italic;
  outline: none; }

.loction-section {
  position: relative;
  background: #ffb612;
  font-size: 14px;
  font-weight: 600;
  margin: 5px; }
  .loction-section div {
    display: inline-block;
    padding: 10px 20px; }
  .loction-section .location-details {
    width: 80%; }
  .loction-section .icon {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 16px; }

.loction-on-map {
  position: relative;
  padding: 10px 20px;
  background: #ffb612;
  font-size: 14px;
  font-weight: 600;
  margin: 5px; }
  .loction-on-map i {
    position: absolute;
    top: 9px;
    right: 20px;
    font-size: 16px; }

.postal-code {
  padding: 10px 20px;
  background: #fff;
  margin: 5px; }

.postal-code input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  font-style: italic; }

#menuBarAnimated {
  height: 60px;
  position: relative; }

.multi-tab {
  position: relative;
  min-height: calc(100vh - 170px); }

.payment-mode, .good-day, .sms-mail-print {
  margin: 5px;
  padding: 0px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px; }
  .payment-mode div, .good-day div, .sms-mail-print div {
    padding: 10px 20px;
    background: #fff;
    margin-bottom: 2px;
    border-radius: 3px; }
  .payment-mode .title, .good-day .title, .sms-mail-print .title {
    text-transform: uppercase; }

.good-day, .sms-mail-print {
  background: #fff;
  font-style: italic;
  padding: 5px 0px;
  text-align: center;
  color: #323c3f; }

.sms-mail-print {
  padding: 0 30px;
  display: flex;
  justify-content: space-between; }
  .sms-mail-print a {
    color: #323c3f; }
  .sms-mail-print div {
    position: relative;
    overflow: hidden; }

.add-quantity {
  display: flex;
  margin-top: 10px;
  justify-content: space-between; }
  .add-quantity p {
    font-size: 10px;
    text-align: center; }
  .add-quantity .total-amt {
    position: relative;
    margin-right: 50px; }

.tabs {
  list-style: none;
  position: absolute;
  text-align: left;
  top: -16px;
  width: 100%; }

.tabs li {
  float: left;
  display: block; }

.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden; }

.tabs label {
  display: block;
  padding: 5px 10px;
  border-radius: 35px 0 0 35px;
  font-size: 14px;
  font-weight: normal;
  background: #d3d3d3;
  position: relative;
  left: -30px; }

.tabs .tab-content {
  display: none;
  overflow: hidden;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute; }

.tabs [id^="tab"]:checked + label {
  background: #ffc74a; }

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: table;
  vertical-align: middle;
  width: 100%;
  left: -20px; }

.input-with-icon {
  position: relative;
  border: solid 1px #c1c1c1; }
  .input-with-icon i {
    position: absolute;
    right: 10px;
    border-left: solid 1px #c1c1c1;
    padding-left: 5px; }

.dashboard-bg {
  background-color: #fff;
  background-image: url(../img/req-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 17px; }
  .dashboard-bg .top-navigation {
    position: relative;
    background-color: transparent;
    color: #fff; }
    .dashboard-bg .top-navigation i {
      color: #fff; }
    .dashboard-bg .top-navigation div {
      background: transparent; }
    .dashboard-bg .top-navigation span {
      color: #fff; }
    .dashboard-bg .top-navigation .pull-right {
      background: none;
      display: flex;
      justify-content: space-between; }
  .dashboard-bg .icons i {
    color: #323c3f;
    font-size: 25px; }

.pro-box {
  position: relative;
  background: #fff;
  padding: 10px 0;
  margin: 0 5px;
  border-top: solid 5px #ffb612; }
  .pro-box .profile {
    display: table;
    position: relative;
    background: #fff;
    padding: 10px;
    vertical-align: middle; }
    .pro-box .profile .user-img {
      vertical-align: middle;
      text-align: center;
      width: 150px;
      font-weight: 600; }
      .pro-box .profile .user-img img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-bottom: 10px; }
    .pro-box .profile .user-details {
      display: table-cell;
      vertical-align: middle; }
      .pro-box .profile .user-details .name {
        font-weight: 600; }
  .pro-box .icons {
    text-align: center;
    margin: 0 10px;
    border-top: solid 2px #e4e6e6;
    padding-top: 10px;
    display: flex;
    justify-content: space-between; }
    .pro-box .icons img {
      height: 20px;
      width: auto; }

.dashboard-sync {
  position: relative;
  padding: 15px;
  background-color: #ffb612;
  height: 50px; }

.dashboard-row1, .language-row {
  position: relative;
  padding: 25px 15px;
  background-color: white;
  height: 75px;
  margin: 5px;
  font-weight: 700;
  font-size: 18px; }
  .dashboard-row1 .circle, .language-row .circle {
    border-radius: 50%;
    border: 1px solid #333;
    padding: 5px;
    min-width: 45px;
    min-height: 45px;
    display: block;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    margin-top: -10px; }
  .dashboard-row1 .total-due, .language-row .total-due {
    display: inline-block; }

.dashboard .panel {
  background: transparent;
  border: none;
  box-shadow: none; }
.dashboard .title {
  min-height: auto;
  background-color: #c5c5c5;
  border: none;
  padding: 1em; }
  .dashboard .title a {
    min-height: auto !important; }
  .dashboard .title .text {
    height: auto !important; }
  .dashboard .title .abc {
    padding: 0 !important; }
  .dashboard .title i {
    font-size: 16px; }
.dashboard .body {
  padding: 0; }
  .dashboard .body p {
    padding: 15px 20px;
    background-size: 6px;
    margin: 1px 0px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    overflow: hidden; }
    .dashboard .body p a {
      display: block; }
.dashboard .product-heading {
  height: 50px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 900;
  padding: 0 10px;
  border-bottom: 1px solid #d8d8d8; }
  .dashboard .product-heading div {
    display: inline-block;
    padding: 10px; }
  .dashboard .product-heading .active {
    border-bottom: 4px solid #FFB612; }
.dashboard .product-chart {
  position: relative;
  padding: 10px 20px; }
  .dashboard .product-chart canvas {
    width: 100% !important;
    height: 300px !important; }
  .dashboard .product-chart table {
    width: 100%;
    text-align: left;
    color: #323c3f;
    font-size: 20px;
    font-weight: 600; }
.dashboard .target-vs-achievement {
  font-size: 26px;
  font-weight: 600; }
  .dashboard .target-vs-achievement div {
    position: relative;
    display: inline-block;
    padding: 15px 10px; }
  .dashboard .target-vs-achievement small {
    font-size: 60%; }
  .dashboard .target-vs-achievement .text {
    position: relative;
    display: inline-block;
    left: 60px;
    line-height: 25px;
    color: #323c3f; }
  .dashboard .target-vs-achievement span.icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #ffb612;
    padding: 0px 5px;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    color: #fff; }
    .dashboard .target-vs-achievement span.icon i {
      position: absolute;
      font-size: 24px;
      padding: 5px 3px; }
  .dashboard .target-vs-achievement .target {
    width: 50%;
    border-right: solid 1px #d9d8d8; }

p.creditCardNo {
  position: relative; }

.visa-icon {
  position: absolute;
  background-image: url("../img/visa.png");
  display: inline-block;
  width: 50px;
  height: 100%;
  right: 5px;
  bottom: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-left: solid 1px #c1c1c1; }

#creditCardField > span {
  position: relative;
  padding-right: 60px;
  margin-top: -6px;
  width: auto; }

.select-month p {
  padding: 10px 20px;
  border-bottom: solid 1px #c1c1c1; }

.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  overflow: hidden; }

.sr-reason .item {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600; }
.sr-reason textarea {
  border: none;
  width: 100%;
  min-height: 100px;
  outline: none;
  font-weight: 400;
  color: #7c8595;
  resize: none; }
.sr-reason ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-style: italic; }
.sr-reason :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-style: italic; }
.sr-reason ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-style: italic; }
.sr-reason :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-style: italic; }

.customer-details {
  position: relative;
  background: #fff;
  margin: 5px;
  padding: 10px 20px; }
  .customer-details input {
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: solid 1px #e4e6e6;
    padding: 10px 0;
    border-radius: 0;
    font-size: 14px;
    font-style: italic; }
    .customer-details input:focus, .customer-details input:active {
      border: none;
      box-shadow: none;
      outline: none;
      border-bottom: solid 1px #e4e6e6; }
  .customer-details .form-group span {
    width: 100%; }
    .customer-details .form-group span input {
      width: 100%; }

.upload-capture {
  position: relative;
  padding: 10px 20px;
  margin: 5px;
  background: #ffb612;
  font-size: 12px;
  font-weight: 600; }
  .upload-capture i {
    font-size: 16px; }

.upload-capture-modal .body {
  padding: 0; }
  .upload-capture-modal .body:first-child {
    border-bottom: solid 1px; }
  .upload-capture-modal .body p {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: solid 1px #e6e7e8; }
    .upload-capture-modal .body p i {
      color: #e4e6e6;
      margin-right: 10px;
      font-size: 16px; }
    .upload-capture-modal .body p.active {
      color: #323c3f !important; }
      .upload-capture-modal .body p.active i {
        color: #24bd97; }

input.cvv {
  width: 50px;
  border: solid 1px #c1c1c1;
  border-radius: 10px;
  padding: 0 10px; }

.sort-task {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .sort-task div {
    display: flex;
    border: solid 1px #d8d8d7;
    background: #edecec;
    padding: 10px 5px;
    text-align: center;
    font-size: 12px;
    justify-content: space-around;
    width: 33.3333%;
    align-items: center; }
  .sort-task .active {
    background: #ffc74a; }
  .sort-task i {
    font-size: 18px; }
  .sort-task.mt div {
    width: 50%;
    justify-content: center;
    font-size: 14px; }
  .sort-task.mt i.icon {
    margin-right: 10px; }

.content.task #no-record {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #d8d8d7;
  padding: 30% 35%;
  display: none; }
.content.task .item {
  background: none; }
.content.task .title {
  background: #c5c5c5;
  padding: 0 10px; }
  .content.task .title a {
    min-height: 40px; }
  .content.task .title .text {
    left: 0;
    font-weight: 600; }
  .content.task .title .arrow-icon {
    position: absolute;
    right: 10px;
    top: 10px; }
    .content.task .title .arrow-icon i {
      font-size: 16px; }
.content.task .body {
  padding: 0;
  background: none; }
  .content.task .body div {
    padding: 0; }
.content.task .single-task {
  position: relative;
  display: table;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  border: solid #d8d8d7 1px;
  font-size: 12px; }
  .content.task .single-task.active {
    border: solid #ffb612; }
  .content.task .single-task div {
    display: table-cell;
    vertical-align: middle;
    padding: 10px; }
  .content.task .single-task .req-id {
    position: relative;
    text-align: center;
    background: #edecec;
    color: #7c8595;
    width: 100px; }
    .content.task .single-task .req-id i {
      font-size: 20px; }
    .content.task .single-task .req-id .id {
      font-size: 16px;
      letter-spacing: 4px; }
    .content.task .single-task .req-id.new {
      background: #ffb612;
      color: #fff; }
      .content.task .single-task .req-id.new .new-noti {
        position: absolute;
        top: 0;
        right: 3px; }
  .content.task .single-task .task-dec p {
    margin: 0; }
  .content.task .single-task .task-dec .title {
    border: none;
    font-weight: 800;
    padding: 0; }
  .content.task .single-task .task-dec .org {
    font-weight: 600; }
  .content.task .single-task .task-dec .created-by, .content.task .single-task .task-dec .date {
    color: #6d6d74; }
  .content.task .single-task .value {
    font-weight: 800; }
  .content.task .single-task .task-icon i {
    font-size: 22px; }
  .content.task .single-task .task-icon .sucess {
    color: #24bd97; }
  .content.task .single-task .task-icon .error {
    color: #ef3e0f; }
  .content.task .single-task .task-icon .icon.cross {
    top: -2.5px; }

.new-task {
  margin: 5px;
  position: relative; }
  .new-task textarea {
    width: 100%;
    border: none;
    outline: none;
    min-height: 180px;
    padding: 10px;
    resize: none; }

.second-menu {
  position: relative;
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: space-around; }
  .second-menu a {
    display: inline-block;
    padding: 16px 0;
    font-size: 20px;
    color: #000;
    font-weight: 600; }
  .second-menu .active {
    border-bottom: 4px solid #FFB612; }

.posm-search {
  position: relative; }
  .posm-search .title {
    background: #c5c5c5;
    font-size: 16px;
    padding: 10px 20px; }
  .posm-search .body {
    background: #fff;
    font-size: 20px;
    padding: 20px;
    position: relative; }
    .posm-search .body input {
      border: solid 1px #c1c1c1;
      width: 100%;
      padding: 5px;
      padding-right: 50px;
      position: relative; }
    .posm-search .body i {
      position: absolute;
      right: 40px;
      top: 23px; }

table.bannar-qty {
  width: 100%; }
  table.bannar-qty td {
    width: 50%;
    padding: 10px 0; }
  table.bannar-qty td:nth-child(2) {
    text-align: center; }

.link-page {
  float: right;
  border: solid 1px #c1c1c1;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-top: 15px; }
  .link-page a {
    padding: 5px 15px;
    min-height: auto !important; }

.sync .top-navigation {
  border-bottom: solid 3px #fff; }
  .sync .top-navigation span.icon-text {
    position: relative;
    top: -5px;
    width: auto;
    padding: 10px 10px; }
  .sync .top-navigation .pull-right {
    height: 60px;
    padding: 15px 10px;
    background: transparent; }
    .sync .top-navigation .pull-right i {
      position: absolute;
      top: 12px;
      right: 80px; }
  .sync .top-navigation:after {
    content: '';
    background: #323c3f;
    position: absolute;
    bottom: -3px;
    width: 35%;
    height: 3px;
    left: 0; }
.sync .upload-download {
  position: relative;
  height: 50px;
  display: table;
  width: 100%;
  font-size: 14px; }
  .sync .upload-download div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #c5c5c5; }
  .sync .upload-download i {
    font-size: 16px; }
  .sync .upload-download .active {
    background: #ffc74a; }
  .sync .upload-download i.upload, .sync .upload-download i.download {
    margin-right: 10px; }
  .sync .upload-download i.error {
    margin-left: 10px; }
.sync .content .item {
  background: #c5c5c5; }
  .sync .content .item .title a {
    min-height: 50px; }
  .sync .content .item .title .abc .text {
    font-size: 14px;
    top: 6px;
    font-weight: 600; }
  .sync .content .item .title .abc .text.vt {
    left: 45px;
    padding: 2px 10px; }
  .sync .content .item .title .master-icon {
    position: absolute;
    color: #d8d8d7;
    top: 7px; }
    .sync .content .item .title .master-icon i {
      font-size: 26px; }
    .sync .content .item .title .master-icon.active i {
      color: #ffb612; }
  .sync .content .item .body {
    padding: 0;
    background: transparent;
    border: none; }
  .sync .content .item .transaction {
    display: table;
    width: 100%;
    padding: 10px 20px;
    background: #fff;
    border-radius: 3px; }
    .sync .content .item .transaction div {
      display: table-cell;
      vertical-align: middle;
      padding: 0; }
    .sync .content .item .transaction .right-icon {
      text-align: right; }
      .sync .content .item .transaction .right-icon .cross-icon {
        height: 30px;
        width: 30px;
        padding: 4px; }
    .sync .content .item .transaction .left p {
      margin: 0; }
    .sync .content .item .transaction .left p.id {
      font-size: 16px; }
    .sync .content .item .transaction .left p.date {
      font-size: 24px;
      font-weight: 600; }
    .sync .content .item .transaction .left p.category {
      font-size: 18px; }
  .sync .content .item figure {
    position: relative;
    display: inline-block;
    width: 40%;
    margin: 20px 10px; }
    .sync .content .item figure img {
      width: 100%;
      height: 40%;
      border: solid 5px #d8d8d7; }
    .sync .content .item figure .cross-icon {
      position: absolute;
      top: -5px;
      right: -5px;
      height: 30px;
      width: 30px;
      padding: 4px; }
    .sync .content .item figure figcaption {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-transform: uppercase; }
.sync .content.download .item {
  background: #fff; }
  .sync .content.download .item .right-icon i.download {
    color: #656870;
    font-size: 16px; }
  .sync .content.download .item .text {
    color: #323c3f; }
.sync .download-tab ul {
  background: #fff; }
  .sync .download-tab ul li {
    width: 50%;
    text-align: center;
    font-size: 14px;
    margin: 0; }
  .sync .download-tab ul a {
    color: #323c3f;
    border: none; }
  .sync .download-tab ul .active > a {
    border: none;
    padding: 0 15px; }
    .sync .download-tab ul .active > a span {
      display: inline-block;
      border-bottom: solid 4px #ffb612;
      padding: 10px;
      font-weight: 600; }

.title.beat .text {
  top: 7px !important; }
.title.beat .right-icons {
  padding-top: 12px; }
  .title.beat .right-icons .cross i {
    font-size: 16px; }
  .title.beat .right-icons .barcode .icon.sucess {
    font-size: 25px !important;
    color: #24bd97 !important; }
  .title.beat .right-icons .barcode .icon.error {
    font-size: 25px !important;
    color: #ef3e0f !important; }

.body.beat {
  padding: 0 !important;
  border: none !important;
  background: #c5c5c5 !important; }
  .body.beat .top-bar {
    position: relative;
    display: flex;
    justify-content: space-around;
    background: #ffc74a;
    padding: 10px 20px; }
    .body.beat .top-bar i {
      font-size: 20px; }
    .body.beat .top-bar .info-icon {
      top: 5px;
      border: solid 2px #333;
      height: 20px;
      width: 20px; }
      .body.beat .top-bar .info-icon i.icon.info:before {
        top: -10px;
        left: -5px;
        font-size: 25px; }
  .body.beat .sort-shops {
    font-size: 14px;
    font-weight: 600;
    color: #323c3f;
    letter-spacing: 0.5px;
    padding: 10px 20px !important; }
  .body.beat .shop {
    position: relative;
    display: table;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    padding: 0 20px;
    min-height: 50px;
    margin: 1px 0; }
    .body.beat .shop div {
      display: table-cell;
      vertical-align: middle; }
    .body.beat .shop div.icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #c3c7cf;
      padding: 4px 6px;
      font-size: 0;
      position: absolute;
      top: 10px; }
      .body.beat .shop div.icon i {
        color: #fff;
        font-size: 18px; }
    .body.beat .shop div.text {
      position: relative;
      left: 50px;
      font-size: 14px;
      font-weight: 600;
      vertical-align: middle; }
    .body.beat .shop .right-icon {
      padding: 0; }
      .body.beat .shop .right-icon i {
        font-size: 16px; }

.sub-menu {
  position: relative;
  height: 60px; }
  .sub-menu ul {
    background: #fff;
    border: none;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0; }
    .sub-menu ul li {
      float: none;
      display: inline-block; }
      .sub-menu ul li a {
        display: block;
        height: 50px;
        padding: 15px 10px;
        font-size: 14px;
        color: #323c3f;
        font-weight: 600; }
    .sub-menu ul .active a {
      border-bottom: 5px solid #FFB612;
      font-weight: 800; }

.beat-sm {
  padding: 0 5px; }
  .beat-sm .title {
    padding: 10px 20px;
    background: #c5c5c5;
    font-weight: 600;
    font-size: 14px; }
  .beat-sm .item {
    position: relative;
    display: table;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    margin: 1px 0;
    padding: 1em; }
    .beat-sm .item div {
      display: table-cell;
      vertical-align: middle; }
    .beat-sm .item div.icon {
      top: 7px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #c3c7cf;
      padding: 5px 7px;
      font-size: 0;
      position: absolute; }
      .beat-sm .item div.icon i {
        color: #fff;
        font-size: 16px; }
    .beat-sm .item .text {
      position: relative;
      left: 40px;
      font-size: 1em;
      font-weight: 600; }
    .beat-sm .item .right-icon {
      text-align: right; }
      .beat-sm .item .right-icon i.icon.sucess {
        color: #24bd97;
        font-size: 16px; }
    .beat-sm .item p {
      font-size: 14px;
      font-weight: 600; }

.landing-page {
  position: relative;
  margin-top: 10px; }
  .landing-page a {
    color: #323c3f; }
  .landing-page .landing-bar.transparent {
    background-color: transparent; }
  .landing-page .landing-bar {
    padding: 10px 10px 0;
    font-weight: 700; }
    .landing-page .landing-bar .figure {
      font-size: 60px;
      color: #ffb612; }
    .landing-page .landing-bar .tasks {
      font-size: 20px;
      padding-top: 25px; }
    .landing-page .landing-bar .block1, .landing-page .landing-bar .block2 {
      background-color: white;
      padding-top: 10px;
      width: 49.1%; }
    .landing-page .landing-bar .block1 {
      margin-right: 5px;
      position: relative;
      overflow: hidden; }
  .landing-page .category {
    margin: 0 5px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 0;
    position: relative; }

.product-info {
  position: relative; }
  .product-info .motog-desc {
    background: #fff;
    padding: 1em; }
    .product-info .motog-desc .product-img {
      position: absolute;
      height: 30px;
      width: 30px;
      padding: 4px 5px;
      border-radius: 50%;
      background: #d8d8d7;
      color: #fff;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      top: 30px; }
    .product-info .motog-desc .details {
      padding-left: 40px;
      color: #323c3f; }
      .product-info .motog-desc .details p {
        margin: 0;
        font-size: 12px; }
      .product-info .motog-desc .details p.name {
        font-size: 20px;
        font-weight: 800; }
  .product-info figure {
    margin: 5px;
    border-radius: 3px; }
    .product-info figure img {
      width: 100%;
      height: auto; }
  .product-info .product {
    position: relative;
    background: #fff;
    margin: 5px;
    padding: 1em;
    border-radius: 3px;
    color: #6d6d74;
    line-height: 20px; }
    .product-info .product p {
      margin: 0; }
    .product-info .product p.name {
      font-size: 16px;
      font-weight: 800;
      color: #323c3f; }
    .product-info .product p.price {
      font-weight: 600;
      color: #323c3f; }
  .product-info .auto-manual {
    position: relative;
    background: #fff;
    border-radius: 3px;
    padding: 1em;
    margin: 5px;
    height: 180px; }
    .product-info .auto-manual hr {
      margin: 5px;
      position: absolute;
      top: 25px;
      border-top: 2px solid #eee;
      width: 100%;
      left: -5px; }
    .product-info .auto-manual .btn-number {
      background: url("../img/icons/qty-minus.png");
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      height: 30px;
      width: 30px;
      text-align: center;
      margin-top: 3px;
      outline: none; }
    .product-info .auto-manual input {
      width: 70px !important;
      margin: 0 5px;
      border-radius: 10px;
      border: solid 2px #c1c1c1;
      padding: 0 10px;
      height: 35px;
      vertical-align: top;
      outline: none; }
    .product-info .auto-manual .plus {
      background: url("../img/icons/qty-plus.png");
      background-repeat: no-repeat;
      background-size: cover; }
    .product-info .auto-manual .bar-code {
      height: 30px;
      width: 30px;
      text-align: left;
      margin-top: 3px;
      outline: none;
      border: solid 1px #c1c1c1;
      border-radius: 100%;
      background: none;
      overflow: hidden;
      padding: 0 4px; }
      .product-info .auto-manual .bar-code i {
        font-size: 18px; }
  .product-info .main.cart-amount i.icon {
    font-size: 18px; }
  .product-info .specification, .product-info .description, .product-info .offer, .product-info .serial-nos, .product-info .faq, .product-info .view-more.content {
    margin: 5px; }
  .product-info .title {
    position: relative;
    background: #c5c5c5;
    padding: 1em;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px; }
  .product-info .content {
    margin: 0;
    background: #fff;
    padding: 1em;
    font-size: 14px;
    border-radius: 3px; }
  .product-info .view-more.content {
    font-weight: 600;
    background-image: url("../img/icons/pdf.png");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 30px; }
  .product-info .serial-nos .title {
    overflow: hidden;
    margin: 2px 0; }
  .product-info .serial-nos .panel-collapse {
    padding: 1em;
    font-size: 14px;
    background: #fff;
    border-radius: 3px; }
  .product-info .serial-nos .sr-table {
    display: table;
    width: 100%;
    padding: 5px 0; }
    .product-info .serial-nos .sr-table div {
      display: table-cell;
      font-weight: 600; }
    .product-info .serial-nos .sr-table .qty {
      vertical-align: middle; }
  .product-info .offer {
    position: relative; }
    .product-info .offer .title {
      background-image: url("../img/icons/new.png");
      background-repeat: no-repeat;
      background-position: right 15px top;
      background-size: 30px; }
  .product-info .faq {
    position: relative; }
    .product-info .faq .faq-title {
      padding: 1em;
      position: relative;
      overflow: hidden;
      border: none;
      margin: 2px 0px;
      background: #fff;
      border-radius: 3px; }
      .product-info .faq .faq-title span.q-no {
        font-weight: 800;
        display: inline-block;
        padding-right: 10px; }
    .product-info .faq .panel-collapse {
      padding: 1em;
      font-size: 14px;
      background: #fff;
      border-radius: 3px; }
    .product-info .faq .faq-q {
      font-size: 14px;
      color: #323c3f;
      font-weight: 600;
      white-space: nowrap; }
    .product-info .faq .faq-ques {
      margin: 0;
      border: none;
      box-shadow: none;
      background: none; }
  .product-info .panel {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0; }
  .product-info a {
    color: #323c3f; }

.bank-payment {
  position: relative; }
  .bank-payment .item {
    position: relative;
    margin: 5px;
    overflow: hidden; }
    .bank-payment .item a {
      display: block;
      background: #fff;
      padding: 1em;
      color: #323c3f;
      font-size: 14px;
      font-weight: 600; }
    .bank-payment .item i {
      font-size: 16px; }
  .bank-payment .content.bank-payment .item.panel {
    background: none; }
  .bank-payment .content.bank-payment .title a {
    min-height: auto;
    padding: 0;
    background: #c5c5c5; }
  .bank-payment .content.bank-payment .title .text {
    left: 0;
    top: 0; }
  .bank-payment .content.bank-payment .title .right-icon {
    position: relative;
    text-align: right;
    top: -5px; }
  .bank-payment .content.bank-payment .body {
    padding: 0; }
    .bank-payment .content.bank-payment .body .transfer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: #ffb612;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      margin: 0 -5px;
      height: 50px;
      padding: 15px 0; }
  .bank-payment .avail-bal {
    padding: 1em;
    font-size: 14px; }
  .bank-payment .refresh {
    padding: 0.5em 1em;
    background: #ffb612;
    font-weight: 600;
    font-size: 14px; }
    .bank-payment .refresh i {
      position: relative;
      font-size: 16px; }
  .bank-payment.mini-stmt {
    padding: 5px; }
    .bank-payment.mini-stmt .title {
      background: #c5c5c5;
      padding: 10px;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 600; }
    .bank-payment.mini-stmt .content {
      margin: 1px;
      padding: 10px;
      background: #fff;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 600; }
      .bank-payment.mini-stmt .content i {
        font-size: 16px; }
  .bank-payment .select-status {
    position: relative;
    display: table;
    width: 100%;
    background: #c5c5c5;
    font-weight: 600; }
    .bank-payment .select-status div {
      display: table-cell;
      vertical-align: middle;
      padding: 1em;
      text-align: center;
      font-size: 12px; }
    .bank-payment .select-status .active {
      background: #ffb612; }

.sv-upload-pic {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 40px 0;
  background: #fff; }
  .sv-upload-pic div {
    display: inline-block;
    position: relative;
    width: 45%;
    height: 120px; }
  .sv-upload-pic img {
    width: 100%;
    height: 120px;
    border: solid #b1b1b8; }
  .sv-upload-pic .cross-icon {
    position: absolute;
    top: -5px;
    right: -10px; }
  .sv-upload-pic .add-new-img {
    border: solid;
    color: #b1b1b8;
    max-height: 236px; }
  .sv-upload-pic p {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 600; }
  .sv-upload-pic p.icons {
    bottom: 20px; }
    .sv-upload-pic p.icons i {
      font-size: 50px; }
  .sv-upload-pic p.text {
    font-size: 14px;
    white-space: nowrap;
    bottom: 0; }
  .sv-upload-pic figcaption {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

.item {
  overflow: hidden;
  position: relative; }
  .item a {
    color: #323c3f;
    display: block; }

.itm-title {
  display: table;
  width: 100%;
  position: relative; }
  .itm-title > div {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 15px 0; }
  .itm-title div[class$="icon"] {
    position: relative;
    width: 16.66667%;
    text-align: center;
    overflow: hidden; }
    .itm-title div[class$="icon"] a {
      white-space: nowrap; }
    .itm-title div[class$="icon"] i {
      font-size: 16px; }
    .itm-title div[class$="icon"] i.barcode-eye {
      color: #656870; }
  .itm-title .center-icon.rupee-cart {
    text-align: left !important;
    position: relative;
    overflow: hidden;
    min-width: 53px;
    font-size: 10px; }
    .itm-title .center-icon.rupee-cart i {
      font-size: 12px;
      color: #bfbebe; }
    .itm-title .center-icon.rupee-cart i.sm-box-error {
      color: #ef3e0f; }
  .itm-title .product-img {
    position: relative;
    height: 30px;
    width: 30px;
    padding: 4px 5px;
    border-radius: 50%;
    background: #d8d8d7;
    color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
    .itm-title .product-img i {
      font-size: 16px; }
  .itm-title .product {
    width: 75%;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 800;
    color: #323c3f;
    letter-spacing: 0.5px; }
    .itm-title .product p {
      margin: 0; }
    .itm-title .product p.price, .itm-title .product p.category {
      font-size: 9px; }
    .itm-title .product p.price {
      font-weight: 600;
      white-space: nowrap; }
    .itm-title .product p.category {
      color: #6d6d74;
      font-weight: 400;
      line-height: 10px;
      white-space: nowrap; }
    .itm-title .product p.name {
      line-height: 13px; }
  .itm-title .title {
    font-size: 14px;
    font-weight: 600; }
  .itm-title .acrdn {
    position: relative;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 13px 0; }
    .itm-title .acrdn .inner-acrdn {
      display: table !important;
      width: 100%; }
      .itm-title .acrdn .inner-acrdn .icon-img {
        width: 22px; }
      .itm-title .acrdn .inner-acrdn > div {
        display: table-cell;
        padding-left: 10px;
        vertical-align: middle; }

.auto-manual-card {
  position: relative;
  background: initial;
  height: 100px;
  padding: 0 20px; }
  .auto-manual-card .add-quantity {
    display: table;
    margin-top: 5px;
    width: 100%; }
    .auto-manual-card .add-quantity div {
      display: table-cell; }
    .auto-manual-card .add-quantity .select-quantity {
      position: relative;
      width: 160px; }
      .auto-manual-card .add-quantity .select-quantity .input-qty {
        position: absolute;
        right: 30px; }
      .auto-manual-card .add-quantity .select-quantity button.btn-number {
        background: url("../img/icons/qty-minus.png");
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        height: 30px;
        width: 30px;
        text-align: center;
        margin-top: 3px;
        outline: none; }
    .auto-manual-card .add-quantity .total-amt {
      text-align: right; }
  .auto-manual-card .tabs {
    list-style: none;
    position: absolute;
    text-align: left;
    top: -16px;
    width: 100%; }
  .auto-manual-card .tabs li {
    float: left;
    display: block; }
  .auto-manual-card .tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden; }
  .auto-manual-card .tabs label {
    display: block;
    padding: 5px;
    border-radius: 35px 0 0 35px;
    font-size: 10px;
    font-weight: normal;
    background: #d3d3d3;
    position: relative;
    left: -30px;
    width: 60px;
    text-align: center; }
  .auto-manual-card .tabs label.manual {
    border-radius: 0 35px 35px 0; }
  .auto-manual-card .tabs label.auto {
    border-radius: 35px 0 0 35px; }
  .auto-manual-card .tabs .tab-content {
    display: none;
    overflow: hidden;
    font-size: 17px;
    line-height: 25px;
    padding: 0;
    position: absolute; }
  .auto-manual-card .tabs [id^="tab"]:checked + label {
    background: #ffc74a; }
  .auto-manual-card .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: table;
    vertical-align: middle;
    width: 100%;
    left: 0; }
  .auto-manual-card.only .tabs label {
    display: none; }
  .auto-manual-card.only .tabs .tab-content {
    padding: 20px 10px; }

.btm-content {
  position: absolute;
  width: 100%;
  bottom: 0px; }

.login-page {
  position: relative;
  background-color: #ffb612;
  text-align: center;
  height: 100%; }
  .login-page .brand-logo {
    color: #fff;
    padding: 50px 0; }
    .login-page .brand-logo img {
      height: 50px;
      width: auto; }
  .login-page .language {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    background-image: url("../img/flags/england.png");
    background-size: 40px;
    background-position: center;
    border: solid #fff;
    border-radius: 50%; }
    .login-page .language a {
      display: block; }
  .login-page .white-bg {
    background: #fff; }
  .login-page .login .input-group {
    width: 100%;
    background: #ffcc58;
    padding: 10px;
    text-align: center; }
    .login-page .login .input-group i {
      font-size: 16px; }
    .login-page .login .input-group ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #3f3f3f;
      font-weight: 800; }
    .login-page .login .input-group :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #3f3f3f;
      opacity: 1;
      font-weight: 800; }
    .login-page .login .input-group ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #3f3f3f;
      opacity: 1;
      font-weight: 800; }
    .login-page .login .input-group :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #3f3f3f;
      font-weight: 800; }
  .login-page .login .white-bg {
    background: #fff; }
  .login-page .login input {
    background: none;
    border: none;
    padding: 20px 10px 20px 40px;
    outline: none; }
  .login-page .login a {
    display: block;
    padding: 20px;
    color: #3f3f3f; }
  .login-page .login button {
    display: block;
    margin: 0 auto;
    background: #fff;
    border: none;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 800;
    color: #3f3f3f; }
  .login-page .login .username:before {
    position: absolute;
    content: '';
    background-image: url("../img/icons/username.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left center;
    height: 50px;
    width: 20px; }
  .login-page .login .password:before {
    position: absolute;
    content: '';
    background-image: url("../img/icons/lock.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left center;
    height: 50px;
    width: 20px; }
  .login-page .login .password:after {
    position: absolute;
    content: '';
    background-image: url("../img/icons/eye.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right center;
    height: 50px;
    width: 20px; }
  .login-page footer .logo {
    padding-top: 10px;
    padding-bottom: 30px;
    color: #323c3f; }
    .login-page footer .logo img {
      height: 25px;
      width: auto; }

.login-footer {
  position: absolute;
  bottom: 0;
  padding-left: 30%; }

/*****NEW CSS CODE******/
.content.task .single-task .req-id {
  width: 33%; }

.search-area.fix-search {
  top: 50px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.dashboard .product-chart {
  padding: 10px; }

.dashboard .product-chart table {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.dashboard .product-chart td {
  font-size: 17px;
  padding: 5px;
  width: 45%; }

.dashboard .product-chart .chart-bullet {
  color: #7f7f84; }

.dotted-line {
  position: relative;
  width: 100%;
  height: 5px;
  border-bottom: 1px dashed black;
  margin: 15px 0; }

.sync i.icon.cross.big {
  right: 9px !important; }

.top-20 {
  top: 20px !important; }

.form-comment {
  color: inherit !important;
  border: 0 !important;
  font-style: italic; }

.margin-bottom-50 {
  margin-bottom: 50px !important; }

.add-org-green-tick {
  position: absolute;
  right: 15px;
  top: 8px; }

.margin-right-10 {
  margin-right: 10px; }

.task-filter-box {
  display: block;
  height: 20px;
  overflow: hidden;
  text-transform: uppercase;
  text-align: left;
  padding-left: 5px; }

.task-filter-box.tall {
  height: 35px; }

.sort-task.tall {
  height: 65px; }

.change-retailer {
  border-top: solid 1px #dsdd;
  background: #fafafa;
  font-size: 14px; }
  .change-retailer .title {
    padding: 10px 20px;
    background-color: initial;
    border-bottom: solid 1px #ddd; }
    .change-retailer .title p {
      margin: 0; }
  .change-retailer .description {
    position: relative;
    padding: 10px 20px; }
    .change-retailer .description i {
      font-size: 16px; }

.modal-content .confirm-msg {
  position: relative;
  padding: 20px;
  font-size: 14px;
  text-align: center; }
.modal-content .confirm {
  position: relative;
  display: table;
  width: 101%;
  color: #323c3f; }
  .modal-content .confirm a {
    display: table-cell;
    padding: 10px 0;
    text-align: center;
    color: #323c3f;
    font-weight: 600;
    font-size: 14px; }
  .modal-content .confirm .no {
    background-color: #fbd200; }
  .modal-content .confirm .yes {
    background-color: #fcc000; }

.cvv-icon {
  display: inline-block;
  background-image: url("../img/icons/cvv.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
  vertical-align: top;
  background-size: 30px;
  position: absolute;
  right: 80px; }

.download-bar {
  padding: 10px 20px;
  background: #ffb612;
  font-size: 12px; }

.item.cr-limit {
  padding: 10px 20px;
  font-size: 14px; }

.tvsa .sales-target {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  background: #c5c5c5;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .tvsa .sales-target div {
    position: relative;
    overflow: hidden;
    height: 50px;
    display: flex;
    align-items: center; }
  .tvsa .sales-target .left, .tvsa .sales-target .right {
    width: 60px; }
  .tvsa .sales-target .left {
    padding-left: 20px; }
  .tvsa .sales-target a {
    color: #323c3f; }
  .tvsa .sales-target i {
    font-size: 16px; }
.tvsa .search-area {
  margin: 5px 0; }
.tvsa .pro-box {
  margin: 5px; }
.tvsa .achievement {
  position: relative;
  background: #fff;
  text-align: center;
  margin: 5px; }
  .tvsa .achievement.revenue {
    padding: 20px 10px; }
  .tvsa .achievement img {
    width: 50%;
    height: auto;
    padding: 30px 0px; }
  .tvsa .achievement p {
    font-size: 12px;
    font-weight: 600; }
  .tvsa .achievement p.current {
    font-size: 30px !important; }
  .tvsa .achievement .detail {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    border-top: dashed 2px #c3c7cf;
    padding: 10px 20px;
    overflow: hidden; }
    .tvsa .achievement .detail a {
      color: #323c3f; }
    .tvsa .achievement .detail i {
      font-size: 16px; }
  .tvsa .achievement .achievement-details {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .tvsa .achievement .achievement-details div {
      position: relative;
      display: flex;
      align-items: center;
      width: 48%;
      height: 40px;
      border-radius: 40px;
      padding: 5px;
      padding-left: 50px;
      font-size: 14px;
      text-align: left;
      line-height: 20px; }
    .tvsa .achievement .achievement-details .current {
      border: solid 1px #42b03a; }
    .tvsa .achievement .achievement-details .forecast {
      border: solid 1px #fed477;
      vertical-align: middle;
      text-align: center; }
      .tvsa .achievement .achievement-details .forecast span.tick {
        background: #fed477; }
    .tvsa .achievement .achievement-details span.tick {
      position: absolute;
      left: 5px;
      top: 5px;
      display: inline-block;
      background: #42b03a;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      padding: 5px 0; }
      .tvsa .achievement .achievement-details span.tick i {
        color: #fff;
        font-size: 16px;
        font-weight: 800; }
.tvsa .title {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  background: #c5c5c5;
  margin: 5px; }
.tvsa span.percentage {
  display: block;
  border: solid 1px #c3c7cf;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 14px;
  padding: 10px 0; }
.tvsa .target {
  background: #fff;
  text-align: center;
  padding: 20px; }
  .tvsa .target p {
    font-size: 20px;
    margin: 0; }
  .tvsa .target span {
    display: inline-block;
    text-align: right;
    border-radius: 30px;
    padding: 8px;
    font-size: 18px; }
  .tvsa .target span.complete {
    width: 61%;
    background: #fed477; }
  .tvsa .target span.pending {
    width: 39%; }
  .tvsa .target p.amt {
    font-size: 36px;
    font-weight: 600; }
  .tvsa .target .progress {
    height: 50px;
    width: 100%;
    margin: 10px 0;
    background: #d2d2d2;
    border-radius: 30px;
    padding: 5px; }
.tvsa .sub-menu ul li a {
  padding: 10px 40px; }
.tvsa .right-icon.achieved-product {
  width: 90px;
  font-size: 18px;
  padding-right: 20px; }
.tvsa p.category.tvsa {
  font-size: 16px;
  padding-top: 10px; }
.tvsa .product-img.text {
  color: #24bd97;
  border: solid 5px;
  font-size: 14px;
  font-weight: 900;
  padding: 0px 0px 0px 5px; }
  .tvsa .product-img.text:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%; }

ul.setting {
  position: relative;
  list-style: none;
  padding: 0;
  font-size: 14px;
  background: #fafafa; }
  ul.setting li {
    border-bottom: solid 1px #e0e1e2;
    padding: 1em;
    position: relative;
    overflow: hidden; }
    ul.setting li a {
      display: block;
      color: #323c3f; }
    ul.setting li .icon {
      float: right;
      font-size: 16px; }
    ul.setting li .update {
      display: inline-block;
      float: right;
      border: solid 2px #ffb612;
      border-radius: 15px;
      padding: 1px 10px;
      font-size: 12px;
      margin: 0; }
    ul.setting li .version {
      display: inline-block;
      float: right;
      color: #b1b1b8; }
    ul.setting li.tick.active i.icon {
      color: #24bd97; }

form.change-pass, form.feedback {
  position: relative;
  background: #fff;
  margin: 5px;
  padding: 1em;
  font-size: 14px;
  font-style: italic; }
  form.change-pass input, form.feedback input {
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 1px #e4e6e6; }
  form.change-pass div[class$="-pass"], form.feedback div[class$="-pass"] {
    position: relative; }
    form.change-pass div[class$="-pass"] i, form.feedback div[class$="-pass"] i {
      position: absolute;
      right: 0;
      top: 10px;
      font-size: 16px; }

form.feedback textarea {
  width: 100%;
  border: none;
  background: transparent;
  resize: none;
  min-height: 180px;
  outline: none; }

td.day.active.today {
  background-color: #ffb612;
  color: #fff; }

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #ffb612;
  color: #fff !important;
  text-shadow: none; }

.bootstrap-datetimepicker-widget table td.day {
  line-height: 30px;
  border-radius: 50%; }

.about {
  position: relative;
  background: #fff;
  padding: 20px;
  margin: 5px;
  text-align: center;
  color: #858788; }
  .about h1.snoc {
    margin: 0;
    color: #323c3f;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px; }
  .about p.powered-by {
    margin: 10px 0 0 0; }
  .about img {
    width: 50%;
    height: auto;
    margin-bottom: 30px; }
  .about p.version {
    font-size: 14px;
    margin-bottom: 40px; }
  .about .about-snoc {
    position: relative;
    text-align: left;
    font-size: 16px; }

.left0 {
  left: 0 !important; }

.profile-setting {
  position: relative;
  margin: 5px; }
  .profile-setting > div {
    background: #fff;
    padding: 20px;
    margin: 5px 0; }
  .profile-setting .upload-pic {
    text-align: center;
    color: #7c8595;
    background: #fafafa;
    padding: 5px 0; }
    .profile-setting .upload-pic p {
      margin-top: 20px;
      margin-bottom: 0; }
  .profile-setting .user-pic {
    position: relative;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border: solid 2px #b1b1b8;
    border-radius: 50%;
    padding: 10px 0;
    background: #fff; }
    .profile-setting .user-pic i {
      font-size: 40px;
      color: #d9d8d8; }
  .profile-setting .user-details {
    position: relative;
    font-size: 20px;
    font-style: italic; }
    .profile-setting .user-details input {
      width: 100%;
      border-bottom: solid 1px #e4e6e6;
      padding: 10px 0;
      font-size: 14px; }
  .profile-setting .add-warehouse {
    position: relative;
    background: #ffc74a !important;
    font-size: 14px;
    font-weight: 600;
    padding: 1em;
    display: flex; }
    .profile-setting .add-warehouse .location-details {
      width: 80%;
      padding: 20px; }
    .profile-setting .add-warehouse .location-icon {
      display: flex;
      width: 20%;
      align-items: center;
      padding-left: 20px; }
    .profile-setting .add-warehouse i {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 16px; }

.setting-faq {
  margin: 5px; }
  .setting-faq .panel {
    margin: 0; }
  .setting-faq .title {
    position: relative;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 1em;
    overflow: hidden;
    border-radius: 4px;
    margin: 2px 0; }
    .setting-faq .title a {
      display: block;
      color: #323c3f; }
    .setting-faq .title i {
      font-size: 16px; }
  .setting-faq .body {
    position: relative;
    background: #fff;
    padding: 1em;
    font-size: 14px;
    min-height: 80px;
    border-radius: 4px; }
  .setting-faq span.no {
    font-weight: 800;
    display: inline-block;
    padding-right: 10px; }

.shop-image {
  position: relative;
  margin-top: 5px; }
  .shop-image img {
    width: 100%;
    height: auto; }

p.org {
  margin: 0;
  font-size: 14px;
  font-weight: 600; }

.item.jd .title {
  min-height: 60px; }
.item.jd p {
  font-size: 14px; }
.item.jd p.title {
  font-weight: 800;
  padding: 10px 20px;
  margin: 0;
  min-height: auto; }
.item.jd p.desc {
  padding: 0 20px;
  font-weight: 400; }

#link-sucess {
  position: fixed;
  top: 0;
  background: #fff;
  width: calc(100% - 20px);
  margin: 10px;
  z-index: 999;
  display: none;
  align-items: center;
  border-radius: 4px;
  padding: 10px 0; }
  #link-sucess .icon {
    padding: 10px;
    color: #24bd97; }
    #link-sucess .icon i {
      font-size: 25px; }
  #link-sucess .msg p {
    margin: 0;
    font-size: 20px; }
  #link-sucess .msg p.org-name, #link-sucess .msg p.position {
    font-size: 14px; }

.group.panel > .title {
  background: #c5c5c5;
  overflow: hidden;
  position: relative; }

.faq-q {
  font-size: 14px;
  font-weight: 600;
  vertical-align: bottom; }
  .faq-q i {
    font-size: 16px;
    margin-left: 10px; }

.greeentea-des {
  position: relative; }
  .greeentea-des p {
    margin: 1px 0;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
    padding-right: 20px; }

/*# sourceMappingURL=main.css.map */
