.cr-limit{
  padding: 30px 20px;
    font-size: 18px;
}

.first-row{
  font-weight: 800;
}

  .cr-limit .item span {
    border: solid 1px;
    padding: 5px 10px;
    border-radius: 10px;
}

#vc-sucess {
  position: absolute;
  top: 10px;
  padding: 10px 0px 20px 5px;
  background: #fff;
  width: calc(100% - 10px);
  margin: 0px 5px;
  z-index: 999;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
}

.round{
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid;
  border-radius: 10px;
}
input.round{
  max-width: 100px;
}
input.round:active, input.round:focus{
  padding: 5px 10px;
  border: 1px solid !important;
  border-radius: 10px;
}
.cl-success{
  display: inline-block;
  color: #00ac78;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 42px !important;
}

.cl-success1{
  display: inline-block;
  color: #00ac78;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 45px !important;
}

.success-content{
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
}

.success-context{
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -7px;
    letter-spacing: 0.2px;}

#menuBarAnimated .nav.nav-tabs {
    background: #FFF;
    border: none;
    height: 50px;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 10px;
}


#menuBarAnimated .nav.nav-tabs li>a {
    padding: 0px;
    margin: 10px 15px 10px 15px;
    padding-bottom: 5px;
    color: #000;
}

#menuBarAnimated .nav.nav-tabs li.active>a {
    border-bottom: 4px solid #FFB612;
    border-right: none;
    border-left: none;
    border-top: none;
}

#menuBarAnimated .nav.nav-tabs>li {
    float: none !important;
    display: inline-block;
}

.form-element{
  padding: 20px 0 10px 0;
  width: 100%;
  border: none;
  border-bottom: solid 1px #d0cfcf;
  font-style: italic;
}

.form-comment{
  padding: 20px;
  width: 100%;
  margin: 5px 0px;
  color: #d0cfcf;
  border: solid 1px;
  resize: none;
}

.form-content{
    background: #fff;
    padding: 0 20px;
}

.ao-eye{
  color: #52555d;
}

.ao-sucess{
  color: #00ac78;
  font-size: 32px !important;
}

.form-element2{
  width: 100%;
  border: none;
  border-bottom: solid 1px #d0cfcf;
  margin-bottom: 15px;
  color: #000;
  font-size: 18px;
}

.form-labels{
  color: #d0cfcf;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.7px;
}

.ao-username{
  padding: 20px;
  width: 100%;
  font-style: italic;
}

.form-head{
  background: #b8b8b8;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

.footer-space{
  margin-top: 10px;
}

.next{
  position: relative;
  bottom: 0;
  background: #ffb612;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
}
.next a{
  color: #323c3f;
}
.first{
  position: relative;
  bottom: 0;
  background: #ffb612;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
}

.sv-sucess{
  color: #00ac78;
}

.act-section{
  background-color: #fff;
  padding: 20px;
  margin: 5px;
  font-size: 14px;
}

.q1-btn1{
  border: solid 2px #d0cfcf;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #fff;
  outline: none;
}
/* Section2 */

.sec2{
  padding: 10px;
}

.section2 div {
    display: inline-block;
}

.section2{
  margin: 5px;
  padding: 0px 5px;
  border: 2px solid #d0cfcf;
  border-radius: 10px;
  color: #d0cfcf;
  height: 40px;
}
.active-sv{
  background: #ffb612;
  color: #323c3f;
  border: solid #fff;
}
.active-sv i{
  color: #fff;
}
.Q2 {
    margin-bottom: 15px;
}
 /* Section 4 */
.sec4{
  margin: 10px 5px;
  padding: 10px;
  border: 1px solid #d0cfcf;
  border-radius: 10px;
}

/* Section 5 */
.sec5{
  width: 100%;
  height: 100px;
  color: #000;
  background-color: #e9e8e8;
  outline: none;
  border: none;
  margin-top: 15px;
  resize: none;
  padding: 10px;
}

/* Section 6 */


.sec6{
  display: inline-block;
  position: relative;
}

.sec6-date{
  float: right;
}

.sv-sum-sucess{
  color: #00ac78;
}
.sv-eye i{
  font-size: 20px !important;
}
.sv-hgd {
  margin-top: 122px;
}

.fixed-element{
   position:fixed;
   bottom: 0;
   left: 0;
   width:100%;
}

.bottom-width{
  width: 50% !important;
}

.add-quantity {
    display: table;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
}

.add-quantity > div {
    display: table-cell;
    vertical-align: middle;
}

.no-padding {
    padding: 0 !important;
}

.section-img1{
  margin: 5px;
  background-color: #fff;
  padding: 15px 10px 0 10px;
}

.sv-img{
  width: 100%;
  height: 100%;
  border: solid 2px #d0cfcf;
}

.sv-img2{
  border: 2px solid #d0cfcf;
  display: inline-block;
  position: relative;
  padding: 20px;
  top: 20px;
  float: right;
  color: #d0cfcf;
}

.fig-text{
  font-size: 11px;
  /* margin: 0 10px; */
  color: #d0cfcf;
  font-weight: 600;
}

.icon-del{
  position: absolute;
  top: -10px;
  right: -10px;
}

.sv-plus{
  color: #d0cfcf;
}

.sv-images{
  color: #d0cfcf;
}

.sv-figure1{
  position: relative;
  display: inline-block;
  width: 50%;
  height: 140px;
}

.sv-figure2{
  position: relative;
  width: 45%;
  height: 100%;
}
//MB
.qty{
  text-align: center;
}
.btn-number{
  background: url("../img/icons/qty-minus.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-top: 3px;
  outline: none;
}
.plus{
  background: url("../img/icons/qty-plus.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.bar-code{
  height: 30px;
  width: 30px;
  text-align: left;
  margin-top: 3px;
  outline: none;
  border: solid 1px #c1c1c1;
  border-radius: 100%;
  background: none;
  overflow: hidden;
  padding: 0 4px;
}
input.input-number{
  width: 70px !important;
  margin: 0 5px;
  border-radius: 10px;
  border: solid 2px #c1c1c1;
  padding: 0 10px;
  height: 35px;
  vertical-align: top;
  outline: none;
}
.input-qty{
  padding: 0;
}
.btn-bar {
  background: none;
  border: solid 2px #c1c1c1;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  text-align: center;
}
.w80{
  width: 80%;
  display: inline-block;
}
.sv-ques-03 {
    padding-left: 20px;
    padding-top: 30px;
}
span.round-border {
    width: 50px;
}
